[2022-05-11 21:35] fmassot opened #1428 "Build quickwit-ui react app in quickwit docker images"

[2022-05-12 06:39] gnufree commented on #1397
I've seen this. I don't know how to apply it after adding the source

[2022-05-12 06:40] gnufree commented on #1397
Without this step：quickwit service run indexer --indexes wikipedia --config=./config/quickwit.yaml

[2022-05-12 07:32] gnufree opened #1430 "quickwit search stream io::Error `No such file or directory (os error 2)"
After the service is started, you can query the data. After 10 minutes, you can't query it. The following error is reported:

2022-05-12T07:14:51.929Z  INFO search_adapter:leaf_search_stream: quickwit_search::service: leaf_search index="clickhouse" splits=[SplitIdAndFooterOffsets { split_id: "01G2TWV7CZ1H4CTS97VKX9NGY4", split_footer_start: 351063533, split_footer_end: 351281594 }, SplitIdAndFoote

[2022-05-12 07:36] fulmicoton commented on #1430
Can you tell us a bit more about your settings? What metastore are you using / do you use a single node or several nodes?

[2022-05-12 07:52] gnufree commented on #1430
[code]

[2022-05-12 07:54] gnufree commented on #1430
indexs file:
[code]

[2022-05-12 08:52] fulmicoton commented on #1430
Ok i think I know what is happening here.

You are currently using the file-based metastore.

Since you are in 0.2.1, I assume you are indexing and searching on two different processes (it is not possible to do otherwise).

By default, the searcher process never updates its view of the metastore. After a merge, some of the splits have been deleted, but the searcher does not know about it and compl

[2022-05-12 08:53] fulmicoton opened #1431 "Document the polling interval hash string in the default quickwit config file comments"
We do document the polling interval thingy, but in the documentation only.

Ideally we should have an explanation and some example in the default config file.

[2022-05-12 08:55] fulmicoton opened #1432 "The default metastore should be polling"
By default, the metastore used is a file backed metastore that has its root in `qwdata/indexes`.

We should set polling by default for that default metastore.
This default is probably the cause for #1430.

[2022-05-12 08:57] fulmicoton commented on #1430
@gnufree Let us know if that solves your problem!

[2022-05-12 09:08] gnufree commented on #1430
OK, I'll try it first

[2022-05-12 09:51] fmassot commented on #1328
@fulmicoton not sure to understand what you meant, can you elaborate?

[2022-05-12 11:21] #1424 closed

[2022-05-12 12:59] fmassot opened #1435 "Fix typos on json field config in index-config.md"
(just to not forget)

[2022-05-12 13:42] guilload opened #1436 "Make gossip interval configurable in chitchat and use lower value for tests"
Cluster tests are slow.

[2022-05-13 01:29] gnufree commented on #1430
Thank you very much. The problem has been solved！

[2022-05-13 01:30] gnufree commented on #1430
@fulmicoton  Thank you very much. The problem has been solved！

[2022-05-13 01:35] fulmicoton commented on #1430
@gnufree Brilliant. Ping us if you have some interesting use case you want to share! I'll close the issue now.

[2022-05-13 01:35] #1430 closed

[2022-05-13 09:02] PSeitz opened #1439 "Error log in successful ingest"
On a short ingest, there's also an error log, but overall the ingest was successful, so this is maybe a false error?
[code]

Complete Logs
[code]

[2022-05-13 09:25] PSeitz opened #1440 "Document Push API"

[2022-05-13 09:37] PSeitz commented on #1409
Use push API instead of ingest where?

I like the the ingest api since it's running as a single command and you get nice logs.

[2022-05-13 09:45] PSeitz opened #1441 "Server Crash when using Push API"
**Describe the bug**

The server crashed while ingesting a 14GB hdfs ndjson file into the push API.

Memory consumption is very high, seems to be an OOM sigkill.

**Steps to reproduce (if applicable)**
[code]

[code]

**Configuration:**

[code]

[2022-05-13 10:28] fmassot commented on #1409
sorry the title was wrong.. I just want to rename things. Today, we use the name "push" in the code.

[2022-05-13 11:02] PSeitz commented on #1441
Stack Trace of the leaked memory (recorded with [bytehound](https://github.com/koute/bytehound))

![leaked_memory](https://user-images.githubusercontent.com/1109503/168270200-c3354466-a08a-4275-b7bf-8e8f7687c2e5.svg)

[2022-05-13 11:13] PSeitz commented on #1441
The payload is not streamed

[2022-05-13 11:38] PSeitz opened #1442 "Push API - Add mechanism to check status"
### Issue Outline

The Push API  currently returns the number of docs received, but this does not mean the documents are indexed, they are merely stored in the rocks-db.

It could be that the documents had a wrong format or other errors. Currently there is no way for the user to know the status of committed documents, except checking the server logs or check if they appear in search.

### Async AP

[2022-05-13 11:57] evanxg852000 commented on #1441
@fulmicoton Should we limit the payload size or switch to streaming?
Streaming is appealing, but we need to agree on what should we do when the stream aborts.
- An option is to have a staging area where documents are saved as they come in and move to rockdb_cf index when the request is complete for the indexer to consume.

[2022-05-13 12:10] evanxg852000 opened #1443 "Testing facility to PushAPI"
It's currently hard to test the PushAPI,  Need to refactor and create mock/test-flavor of the PushAPI and add tests

[2022-05-13 13:12] fmassot commented on #1441
I think we should just limit the size of the payload. It's a bulk API where you push data in batches. A batch of 14GB is really strange. For that, there is the file data source.

[2022-05-13 13:27] PSeitz commented on #1441
I think if the server is not running locally where you can ingest or set file sources this is not strange. It would be a nice API for initial load.

[2022-05-13 15:04] fmassot commented on #1441
Yes indeed! But I see that as a separate feature (so maybe a dedicated endpoint) and hence limit the bulk api for now.

[2022-05-13 15:23] fulmicoton commented on #1441
Let's limit the payload to 10MB.

[2022-05-13 15:23] fulmicoton opened #1446 "Limit PushAPI payload to 10MB"
Spotted by #1441

[2022-05-13 15:24] fulmicoton commented on #1441
@PSeitz thanks for spotting that! It slipped my mind. I opened #1446 as a result.

[2022-05-13 15:24] #1441 closed

[2022-05-13 15:29] boraarslan commented on #751
There are a few ways to implement retry logic here:

1. The retry logic on the S3 side could be refactored to be used on the Kinesis side
2. A new retry logic can be implemented.

Current retry logic is not really customizable and would be insufficient if different policies are needed for different scenarios. In that case, a new logic can be implemented. There are customizable retry policies on ot

[2022-05-13 15:44] fulmicoton commented on #1436
Agreed. I'm doing that as part of a large refactoring.

[2022-05-13 15:49] #1409 closed

[2022-05-13 17:04] #1446 closed

[2022-05-13 18:12] fmassot commented on #751
Thanks @boraarslan. Can you be more accurate on the retry policy parameters? What do you propose exactly in solution 1 to make the retry policy work on S3 and Kinesis? Knowing that we would want different parameters? Ideally, you can write some pseudo code to have a good idea of what you have in mind.

[2022-05-13 18:16] evanxg852000 commented on #1440
@fmassot should this be part of the `reference/rest-api.md` page or should we have another page for it?

[2022-05-13 18:58] kstaken opened #1449 "Performance falls rapidly as max_hits increases in size"
Was poking around trying to isolate some weird sorting behavior and noticed that query times increase rapidly as the size of max_hits goes up. This is running a build from `main`, single node with local file system storage.

Index info
[code]

[code]

For the 100,000 record case the server panics as it's out of file descriptors.

[code]

[2022-05-13 19:15] kstaken opened #1450 "sort_by_field returns incorrect results on string fields"
Sorting doesn't appear to work correctly on string fields. It does change the order of the results and if you do `sort_by_field=-name` vs `sort_by_field=name` you will get different results but the results are not in the expected order.

Field mapping:
[code]

Results
[code]

[2022-05-13 22:21] fmassot commented on #1450
Thanks for the report.
Indeed, currently, this cannot work. We are currently sorting by fast field values... but this cannot work for 2 reasons: fast field values are term IDs, and we have a simplistic approach when reading fast field values, we make the assumption that we have a `SingleValue` cardinality which is wrong on the text field.

Moreover, the current approach cannot work for any multi-v

[2022-05-13 23:47] fulmicoton commented on #1450
We just added string fast fields. The term ordinals are sorted so that should work at the scale of a segment. I assume the bug is that we then emit these term ords and merge then. The massive pain is that to fix this we will have to then decode K values per split.

[2022-05-14 09:08] PSeitz commented on #1449
Thanks for the bug report.
Do you have a use case to retrieve that many results?

Currently every doc is loaded with an independent request. They are executed concurrently, that's why at some point you get the io error.

We probably should add a limit to the max_hits and/or limit the concurrency.
Additionally we should identify docs that are in the same compressed block in the doc store and load t

[2022-05-14 11:31] boraarslan commented on #751
The current `retry` function needs the given Future's Error type to implement `E: IsRetryable + Display + 'static`. On the S3 side `RusotoError`s are wrapped in `RusotoErrorWrapper<T>` to satisfy the requirements. To reuse the already implemented version both retry logic and Error wrappers can be moved elsewhere (I am not very familiar with the codebase so I don't know exactly where).and then on t

[2022-05-15 09:22] boraarslan commented on #751
I created a PR (#1451) that implements a very basic `RetryRequest` struct. It is a slightly modified version of the retry login on the S3 side with some modifiable parameters. It currently doesn't have any retry policy other than exponential backoff. I also initialized the struct on some of the requests to check compile errors and it seems ok for now. I can implement other policies too if you want

[2022-05-15 15:40] PSeitz commented on #1449
I had a look at the caching that's currently applied. Every tantivy store reader instance caches up to 100 blocks. This caching is not used in practice since

- The reader instance lifetime is the same as the searcher, which is dropped after loading the documents. The cache is not kept between requests.
- Since the docs are loaded in parallel, they all hit an empty cache. This causes the same bloc

[2022-05-15 20:56] evanxg852000 opened #1452 "`/bulk` and `/ingest` endpoints are the same"
Right now in the ingest API, we have both `/ingest` and `/bulk` endpoints doing the same thing, can we get rid of `/bulk` then?

[2022-05-16 00:59] fulmicoton commented on #1383
So to clarify.

We serve the UI and the API on the same port.
I was saying to serve the UI index.html on "/",
and have the UI serve as a way to document the UI.

Francois already added UI links at the bottom of the UI pages to
show what API calls are made.

We could have this a  cluster conf & cluster state api endpoint on `api/`.

I'm ok to discuss having it on `/` but I feel hosting the UI is be

[2022-05-16 01:01] fulmicoton commented on #1265
@PSeitz Both exists. Some people want to delete stuff for cost reasons, some people are trying to enforce some policy. (e.g. GDPR)

[2022-05-16 01:03] fulmicoton commented on #1452
Yes. Let's remove /bulk

[2022-05-16 01:04] fulmicoton commented on #1450
For 0.3, I think we will have to prevent sorting by string.

[2022-05-16 01:05] fulmicoton opened #1454 "Prevent sorting by strings"
We added fast field for string, but the logic is not compatible with sort by.

We need to forbid sorting by strings in 0.3.

Related to #1450

[2022-05-16 01:47] fulmicoton commented on #874
I think we can close this at the moment.

[2022-05-16 01:47] #874 closed

[2022-05-16 01:56] fulmicoton commented on #1328
Dates is something we want to run range queries on.
Right we do split pruning + fast field filtering at collection.

That works ok if the datetime field is indeed the timestamp field, but that is not necessarily the case.

THe normal way to do range queries on int fields is any variant of trie indexing.
We could just offer that on dates too... But it is tempting to, instead of using a base decompo

[2022-05-16 07:29] #1432 closed

[2022-05-16 07:29] #1431 closed

[2022-05-16 08:45] #1452 closed

[2022-05-16 09:13] fmassot commented on #1383
I tend to agree with `index.html` at the root. The rationale would be: all our API endpoints have the prefix `/api` so why not use the root for the UI.

[2022-05-16 09:51] fmassot opened #1464 "Handle errors on aggregation payload deserialization"
Currently, we deserialize the aggregation payload in `make_collector_for_split` and use `unwrap`.
https://github.com/quickwit-oss/quickwit/blob/main/quickwit-search/src/collector.rs#L450

We should:
- handle the deserialization error so that the user can get a proper response
- validate the aggregation payload at the root node,  `make_collector_for_split` is called at the leaf level.

Error trace

[2022-05-16 09:57] #1435 closed

[2022-05-16 11:04] fmassot opened #1465 "Opening UI search page should trigger the search."

[2022-05-16 11:46] fmassot opened #1466 "Don't autocomplete the fied name with colon at the end for a JSON field"

[2022-05-16 13:33] fulmicoton opened #1467 "Debounce block fetch in docstore"
Right now when fetching N documents after a search, there are no mechanism to make sure we do not attempt to download the same block over and over.

A possibility could be to debounce read calls at the storage layer.
Another possibility could be to group by blocks, but that will require to expose internals.

[2022-05-16 14:02] fmassot opened #1468 "Add some key metrics on the ingestion"
Now that we have an indexing server, we can expose some nice prometheus metrics.

[2022-05-16 16:37] #1007 closed

[2022-05-16 16:39] guilload commented on #1407
Fixed by #1427.

[2022-05-16 16:57] kstaken commented on #1449
On the use case for this our search APIs that currently sit above Elasticsearch allow queries with a single request size up to 100,000 records and we allow sorted deep paging requests up to 2 million records @ 100,000 records per page. We actively discourage the use of paging but it can be a simple approach to pull a few hundred K records.

Beyond that size we have more complicated algorithms that

[2022-05-16 17:49] guilload commented on #751
We like this approach, which keeps things simple and maximizes code reuse. Do we have to move the common code to a new workspace package for things to work or, since Kinesis lives in the indexing package, which depends on storage, can we get away with making some functions and structs public in the storage package?

Yes, the retry function should return a `RusotoErrorWrapper`, and the caller shoul

[2022-05-16 19:17] kstaken commented on #1449
I saw the change you made to the concurrency. Here is the impact on this sample data set. The 100,000 record case now completes and all other cases are slower which isn't a surprise given the reduced concurrency.

I see how this is a very expensive thing with a large number of docs but in this case there are only 2 splits so clearly getting the caching working correctly will make a big difference

[2022-05-16 19:43] guilload commented on #1449
Bear with us while we land #1467. In addition, the concurrency limit was also set somewhat arbitrarily and should be tuned or, even better, set dynamically depending on the current load of the system. Finally, we plan to increase the blocks' size in the doc store, which should also help (see ##1135).

I agree with your last statement; if somehow a query hits all the splits and blocks, the final do

[2022-05-17 07:40] PSeitz commented on #1467
Also may make sense to combine adjacent blocks into a single request

[2022-05-17 07:44] fulmicoton commented on #1467
That would be even nicer... although are cache won't liek that at all.

[2022-05-17 08:25] #1292 closed

[2022-05-17 08:32] #340 closed

[2022-05-17 08:32] #341 closed

[2022-05-17 11:12] #1465 closed

[2022-05-17 11:12] #1466 closed

[2022-05-17 13:15] fulmicoton opened #1474 "Remove datetime field for 0.3"
The current datetime field is -useless- and will come to haunt us once we introduce a proper datetime field.

Let's remove it for quickwit 0.3

[2022-05-17 15:15] guilload opened #1476 "Add split boundary/partition policy"
We want the ability to add some constraints on the bounds of the splits that Quickwit produces. For instance, a daily split boundary policy would ensure that splits do not span across multiple days.

To do
- [ ] Naming (boundary, partition, ...)
- [ ] Spec how index config declares policy
- [ ] Ensure indexer starts a new split each time a boundary is crossed
- [ ] Ensure splits are not merged acr

[2022-05-17 20:21] guilload opened #1478 "Field description"
Useful for documenting the schema of an index and further display. Seen in BigQuery ("description"), Hive ("comment"), ...

[2022-05-17 22:24] fmassot commented on #1405
closed by #1420

[2022-05-17 22:24] #1405 closed

[2022-05-17 22:25] fmassot commented on #1385
closed in #1437

[2022-05-17 22:25] #1385 closed

[2022-05-18 02:57] fulmicoton opened #1480 "Refactor Cluster::join"
Cluster::join has 8 complicated arguments, and a bunch of helper functions for tests.

We should introduce a ClusterConfig object, possibly with a builder pattern.
We can also rely on chitchat's ChichatConfig struct directly if it makes sense.

[2022-05-18 04:29] fulmicoton commented on #1478
I strongly agree.

[2022-05-18 04:34] fulmicoton commented on #1476
I suspect there is a cool hack hiding in this.

For instance, could we introduce a concept of "split group" string.
Each split would belong to a split group. Only splits within the same split group
could be merged together.

The split group string generation could then be defined by concatenating any info users would configure.
For instance:
- source_id
- yyyy
- yyyymm
- yyyymmdd
- yyyymmddhh

[2022-05-18 04:49] #1464 closed

[2022-05-18 08:37] fulmicoton opened #1481 "Disable write index admin endpoint temporarily"
We have some API to manage indexes in the rest API.
It won't work on deployment where a node is not running indexing.

Let's not expose it at the moment, and work on routing that requesting via gRPC to the right node in the future.

[2022-05-18 08:38] fulmicoton opened #1482 "Investigate: Search REST request on an indexer"
A node running indexing only might receive search request via the interface.

See if it is possible to easily address those by redirecting it to a search server.

[2022-05-18 11:41] guilload opened #1483 "Boolean field"

[2022-05-18 14:28] PSeitz opened #1485 "Bad error message when passing invalid JSON to Aggregation"
Error messages are like:
"Invalid aggregation request: data did not match any variant of untagged enum \
             Aggregation at line 18 column 2"

Currently the top level entry for an aggregation request uses `#[serde(untagged)]`, which is trying to deserialize variants until one works.  That's why we always get the above error message.

[code]

Effectively Aggregations are externally tagged

[2022-05-18 19:09] guilload opened #1488 "Revisit global retry strategy"
### Meta
1. There a multiple layers where we want to retry failed requests:
- storage
- metastore
- gRPC

2. For requests with no latency constraints, we want to use retry strategies that maximize the chances that one attempt succeeds after a few seconds or even minutes and minimize retry storms. An example of such a case is an indexer uploading a split that was just merged.

3. For requests with

[2022-05-18 19:13] guilload commented on #690
After discussing offline with @fmassot, the issue appears much more complex than just tweaking the retry parameters of the S3 storage. So, closing in favor of #1488.

[2022-05-18 19:13] #690 closed

[2022-05-19 01:01] fulmicoton opened #1490 "UI does not show docs inline on a full dynamic index."
To reproduce create an index with a dynamic index and no field.

The unfolded UI works, but the inline docs are blank.

[2022-05-19 01:16] #1436 closed

[2022-05-19 01:21] fulmicoton commented on #1490
![screenshotlog](https://user-images.githubusercontent.com/1021506/169181857-3f1c1dc7-f834-4aef-872a-00e61c8ae93a.png)

[2022-05-19 01:23] fulmicoton opened #1492 "Display search error message in the UI"
Right now the UI does not show feedback on errors.

For instance, one can run a node with an indexer only and run a search query.
(assuming #1491 is merged)

[2022-05-19 06:11] #1474 closed

[2022-05-19 07:28] fmassot opened #1493 "Add basic UI tests"
We need to add unit tests on the critical user path:
- check if docs are displayed with a full dynamic mapping
- Check if docs are displayed with a given mapping
- check if time unit guessing works
- check time range select

[2022-05-19 09:54] evanxg852000 commented on #1399
After investigating, the pooling works, `30s` is just too long, especially when running one of the indexer or searcher services.
@fulmicoton WDYT?  if we introduce a default `polling_interval` we still don't prevent the actors from discovering the index is suddenly gone before the metastore pooling task has ran (when a user set a longer pooling interval).

[2022-05-19 12:01] fmassot commented on #1490
can you share your index config?

[2022-05-19 12:29] fulmicoton opened #1494 "Unit test: search"
Follow up on #1491.

Add a search unit test to test that rest search
- works on an indexing node provided there is searcher node in the  cluster.
- returns an error if there are not searcher node in the cluster.

[2022-05-19 12:30] fulmicoton commented on #1490
Full dynamic

[code]

[2022-05-19 12:37] fmassot commented on #1490
Ok I have the same config. I indexed 1000 Wikipedia articles and the backend returns documents like this one:
[code]

I guess your documents are a bit different. I ingested also documents like yours but I can't reproduce it.

Maybe you run the UI with an old build, normally I fixed this issue a few days ago.

[2022-05-19 12:43] #1482 closed

[2022-05-19 13:03] fmassot opened #1495 "Enrich members info returned by `/api/v1/cluster/members`"
Currently, the endpoint returns the list of members, each member with its a few info:

[code]

It would be nice to have the service and other relevant info. We could even return the node state?

[2022-05-19 14:47] fulmicoton commented on #1399
Ah right. When we delete splits, we are saved by the grace period. But when we delete index, we don't benefit from that unfortunately.

I think this will be a non-fix for the moment.

[2022-05-19 18:24] me-diru commented on #1328
@fmassot continuing the conversation from discord here.

[I made a small specification document to change and go through later on](https://docs.google.com/document/d/1xDPq14wgniJZocHFLrommhjxvtvlaVLe27CQps29yu0/).

Few more questions I got are:

1) If, currently, we are using any data type to store the date information, how are we able to filter using search API?
 `startTimeStamp`, `endTimeStamp`

[2022-05-19 19:43] kstaken commented on #1328
I have a question related to this. Is there a particular reason to be focusing  on RFC3339 only instead of ISO8601? RFC3339 has the huge downside of requiring a fully specified time including timezone for all datetimes. In Elasticsearch date_optional_time is not a valid RFC3339 datetime.

[2022-05-19 20:29] stranger-danger-zamu commented on #1328
Continuing the thread from Discord:

Storage wise, whatever is most reasonable. There might be room for certain optimizations, but they're premature and can be done out of band through preprocessing steps.

For me the big thing is the ability to supply several parsing methods for a single datetime field and to support custom datetime parsing.

A simple example is twitter's datetime format which ha

[2022-05-20 00:28] fulmicoton commented on #1490
ok let me try again.

[2022-05-20 00:43] fulmicoton commented on #1328
@kstaken Not much reasons. We should support several format. I am the culprit for sprinkling rfc3339 here and there  in docs, and this is not an educated choice.

@stranger-danger-zamu Without a time format, it might be an interesting way to create "default configs" use cases.

[2022-05-20 00:45] fulmicoton commented on #1495
I say let's dump the whole chitchat node state. It's always nice for debugging / explaining how stuff works.

[2022-05-20 00:49] fulmicoton commented on #1490
I confirm this is already fixed.

[2022-05-20 00:49] #1490 closed

[2022-05-20 00:54] fulmicoton commented on #1492
I was just looking at an older version of the UI. Closing

[2022-05-20 00:54] #1492 closed

[2022-05-20 00:55] fulmicoton commented on #1363
The error message is pretty explicit.

Keeping the backticks/parenthesis story and moving that to 0.4.

[2022-05-20 00:59] #1399 closed

[2022-05-20 00:59] fulmicoton commented on #1399
Closing as won't fix.

[2022-05-20 01:23] #1233 closed

[2022-05-20 06:24] #1130 closed

[2022-05-20 06:47] sangensong opened #1502 "Can you support csv format as input"
Hi. when I want to **Full-text search on Clickhouse**，the source file's format insert into clickhouse is csv.  The reason why I choose to use csv files to insert clickhouse is that csv files take up less space than json files, and the insertion speed is faster, and the speed of generating csv files is also faster. If I convert the csv file to json file, It's too slow.

I want to you can support th

[2022-05-20 07:00] #1454 closed

[2022-05-20 08:18] evanxg852000 commented on #1229
@fulmicoton  in relation to the closed [task](https://github.com/quickwit-oss/quickwit/issues/1399), we will not have any determinism when index is deleted. We could just use the Gc actor to remove the queue when the index is gone.
An issue thought is the metastore fetch error will not necessarily mean index is deleted, it can be other things

[2022-05-20 11:29] fulmicoton commented on #1229
Suggestion (you are closer to the problem than me).

To do GC, we need to have a function that lists queues lists queues, list indexes (in that order) does the diff, terminates  existing pipelines and deletes the extra numerous queues.

For this version, maybe we can do that in a GC actor that would run once every hour.

No need to do something super great.

---

Tricky stuff to handle:
- what hap

[2022-05-20 14:44] guilload opened #1503 "Can't use a key as default search field for JSON field"
Occurred as I was writing the Kafka tutorial. On main branch.

[code]

[code]

[2022-05-20 19:30] fmassot commented on #1143
Here is an example of a log:

[code]

We could potentially isolate IP addresses like `192.168.202.79`.

[2022-05-22 13:33] fmassot commented on #1383
I'm rethinking serving the UI at the root.

The UI has currently 5 routes:
- `/`
- `/search`
- `/indexes`
- `/indexes/:indexId`
- `/clusters/members`

Like we isolated the API URLs, I think doing the same for the UI makes sense.

Moreover, as you said, the UI will not be the primary way and I would expect in the future the root endpoint to return a JSON containing some information about the versio

[2022-05-22 13:41] fulmicoton commented on #1383
Redirect is good enough

[2022-05-22 13:53] #1383 closed

[2022-05-22 19:31] fmassot opened #1505 "Update tutorials with metadata required by the website tutorials section"

[2022-05-23 01:44] fulmicoton commented on #1135
https://github.com/quickwit-oss/tantivy/pull/1374 suggests block size has a big influence.

[2022-05-23 04:11] PSeitz opened #1509 "Ingest should show errors at the end"
The last line looks like a success

[code]

[2022-05-23 04:12] PSeitz opened #1510 "Invalid json is printed as warning, not error"
This should probably be an error?
[code]

[2022-05-23 05:12] PSeitz opened #1511 "Text fields without indexing / Ignoring fields"
`indexed: false` is available for all types, except for text fields.

With mode `mode: dynamic`, the whole document is indexed. When you want to remove certain fields from search, you can't do that with text fields..

Defining the type could also be optional when a type is not indexed and not a fast field. (convert the json value to string in that case)
[code]

In tantivy it's possible to not inde

[2022-05-23 06:40] #832 closed

[2022-05-23 07:04] #1493 closed

[2022-05-23 09:07] #1440 closed

[2022-05-23 09:13] fulmicoton opened #1514 "Race condition in actors"
https://github.com/quickwit-oss/quickwit/runs/6550207656?check_suite_focus=true

Observed in CI
[code]

This looks like a race condition.

We have the ActorState which is a Atomic that is cheap to poll, and we have a watch channel that is here to receive some info about the termination state.

When the state ends correctly, we set those in the following order:
- At the end of the runner look we se

[2022-05-23 12:40] fmassot opened #1515 "Add deployments docs..."
... to explain limitations with file-backed metastore, single indexing server only, etc...

Related to #1067

[2022-05-23 14:24] #878 closed

[2022-05-23 14:31] guilload commented on #1397
Hello @gnufree, I've just committed a [tutorial](https://github.com/quickwit-oss/quickwit/blob/main/docs/tutorials/kafka.md) for Kafka. Hopefully, this helps. Let me know if you have more questions regarding configuring/using a Kafka source with Quicwkit.

[2022-05-23 15:49] guilload opened #1519 "Use same logic for region resolution in S3 storage and Kinesis"
Kinesis should align on S3 storage region resolution.

[2022-05-23 17:24] guilload opened #1521 "Update Kafka and Kinesis tutorials when datetime field is implemented"
- [ ] Support datetime field to be used as index setting timestam_ filed
- [ ] Update index mapping
- [ ] Update docs (remove `jq` parsing and `jq` prerequisites)

[2022-05-23 17:24] guilload commented on #1521
Depends on #1483  and #1328.

[2022-05-23 22:17] kstaken opened #1524 "_bulk doesn't provide any indication of indexing failure"
Maybe this is still WIP but on master for `/api/v1/_bulk` if there is a failure it doesn't give you any indication of a problem.

[code]

In this case each document was missing a field which was logged by the server but the bulk request appears to have succeeded when it really didn't.

[code]

In this case Elasticsearch would have set `errors: true` in the response and the returned items array wou

[2022-05-23 22:21] kstaken opened #1525 "Quickwit can't support Elasticsearch _bulk `create` semantics"
I saw in the documentation for the Elasticsearch _bulk ingest API that the only method that is supported is `create` however I believe Quickwit can't actually implement the semantics required for `create`. The action it should be supporting is `index`.

`create` is used when you want to store a document only if it doesn't already exist in the index. It's a really handy operation but without the ab

[2022-05-23 22:24] kstaken commented on #1524
Perhaps related to #1509

[2022-05-24 04:26] PSeitz opened #1526 "Query on no fields does not return an error for dynamic mapping"
Query on dynamic mapping without default search fields and the query itself also defining no search fields returns an empty result instead of an an error

[code]

[2022-05-24 06:04] fulmicoton commented on #1525
confirmed

[2022-05-24 06:05] fulmicoton commented on #1524
That's not really related to #1509 unfortuantely.

Right now ingest just pushed docs to a persistent queue. We only check the documents later, in an indexing task.

[2022-05-24 06:13] PSeitz commented on #1524
This will be covered by https://github.com/quickwit-oss/quickwit/issues/1442
Since it's an async API, it's not possible to get an immediate status

[2022-05-24 11:27] fmassot opened #1531 "Quickwit nighlty --version shows 0.2.1 + commit hash"
Would be nice to show "nightly" and then the commit hash

[2022-05-24 11:39] boraarslan opened #1532 "Make distributed search possible on file system"
After the changes that have been made, distributed search is not available on file system. This also means the tutorial on the website is broken ([Tutorial Link](https://quickwit.io/tutorials/tutorial-hdfs-logs/)).

<details>
<summary>Error Message</summary>
<pre>
❯ ./quickwit run --service searcher --config ./searcher-1.yaml
2022-05-24T10:51:00.280Z  INFO quickwit: version="0.2.1" commit="e426a45

[2022-05-24 12:00] evanxg852000 opened #1533 "Support for env variables in config"
We need to have environment variable interpolation support in Quickwit configuration.
I think the [ElasticSearch Specs](https://www.elastic.co/guide/en/beats/filebeat/current/using-environ-vars.html) is a good starting point already.

[2022-05-24 12:11] evanxg852000 commented on #1533
@fmassot @guilload there was an issue around this I could. I am suggesting this in 0.4

[2022-05-24 12:38] fulmicoton opened #1536 "More efficient on multi-indexes."
Currently, each index pipelines is spawning a lot of threads:
Blocking actors are executed in their own single threaded tokio runtime.

In addition, tantivy's IndexWriter allocate a large buffer to build its index.
By running several pipeline in parallel, we end up with an overall memory
footprint proportional to the number of indexes. (at least as a first approximation).

Finally, the number of f

[2022-05-24 12:41] #1533 closed

[2022-05-24 12:43] evanxg852000 commented on #1533
@fmassot closing this and adding the original in 0.4

[2022-05-24 12:51] fulmicoton opened #1537 "Better docstore compression"

[2022-05-24 13:51] evanxg852000 commented on #1525
@fmassot  should switch to `index` and document?

[2022-05-24 14:39] PSeitz opened #1538 "high start_offset may cause OOM"
Very large start_offset are very expensive and can cause the server to crash.
E.g. this query costs more than 6GB memory and takes more than 3 minutes:

[code]

We should limit start_offset to values that we can handle or improve the start_offset algorithm.

This may also be an issue for data extraction, which would be naively handled with increasing `start_offset`.

[2022-05-24 14:40] guilload commented on #1262
@fmassot, can you reproduce? Should we investigate this further?

[2022-05-24 15:01] fmassot commented on #1262
Good news, I cannot reproduce it on the main branch. Closing ti.

[2022-05-24 15:01] #1262 closed

[2022-05-24 15:11] zamazan4ik commented on #794
By the way, preparing a good benchmark set will help a lot with using PGO for Quickwit. Without some "generic" sample load it is much more time consuming to prepare PGO-optimized binary.

[2022-05-24 15:40] PSeitz commented on #1537
Related to #1135

[2022-05-24 16:56] kstaken commented on #1524
Elasticsearch uses an internal queue as well, actually 2 levels, one on the node that handles the bulk request and then a queue in each node that receives the scattered data. The bulk HTTP request will block and wait for write acknowledgement from the number of shards defined in`wait_for_active_shards` or it will eventually timeout. If the request times out the data in the queues may still be inde

[2022-05-24 17:31] PSeitz commented on #1524
Thanks for the detailed info, that's really helpful. In that case we should probably have an async api and deviate from the elastic search api.

[2022-05-24 22:04] #1219 closed

[2022-05-24 23:32] fmassot commented on #1408
@fulmicoton I would prefer to do this for the 0.3.1

[2022-05-25 02:25] #1514 closed

[2022-05-25 04:35] fulmicoton commented on #1408
ok

[2022-05-25 07:31] PSeitz commented on #1538
Closed via https://github.com/quickwit-oss/quickwit/pull/1539

[2022-05-25 07:31] #1538 closed

[2022-05-25 09:22] PSeitz opened #1544 "Support for large start_offset"
Outlined use case here https://github.com/quickwit-oss/quickwit/issues/1449#issuecomment-1127911151

After https://github.com/quickwit-oss/quickwit/pull/1539, the limit is 10_000. It would be good to support very large start_offsets for some scenarios, e.g. data extraction.

For very large start_offset, we can probably assume that:
- strict score sorting is not that important anymore
- the split m

[2022-05-25 09:55] PSeitz commented on #1531
We could check if we are in a CI env, and if not emit nightly

[2022-05-25 10:16] fmassot opened #1546 "Cannot start quickwit server after adding a kinesis source"
## Step 1: add index and kinesis source
Index config
[code]

Source

[code]

## Step 2: Start server with `quickwit run`

[code]

[2022-05-25 12:24] PSeitz opened #1548 "Allow null values in fast fields"
Currently all fields which are set as fast fields cannot have null values set.
This is due to a limitation in tantivy detailed here: https://github.com/quickwit-oss/tantivy/issues/1338#issuecomment-1121241691

Some scenarios will have data that is not homogeneous or sparse. Those scenarios won't be able to use fast fields.

It should probably be addressed with the next release.

[2022-05-25 13:01] evanxg852000 commented on #1526
@fulmicoton
I don't think it's good to use the `_dynamic` field in search query
https://github.com/quickwit-oss/quickwit/blob/main/quickwit-doc-mapper/src/default_doc_mapper/default_mapper.rs#L483-L485

at least from our first design, even base on the comment here
https://github.com/quickwit-oss/quickwit/blob/main/quickwit-doc-mapper/src/default_doc_mapper/default_mapper.rs#L95-L97
Did we change o

[2022-05-25 13:02] fulmicoton commented on #1526
I'm not sure what you mean exactly?

[2022-05-25 13:04] fulmicoton commented on #1526
So if you are in the `_dynamic` mode, the fields that are not mapped end up in the `_dynamic`  field.

We add it as a default field, so that you can search them naturally.

Did you observe an incorrect behavior?

[2022-05-25 13:46] #1525 closed

[2022-05-25 20:24] kstaken opened #1551 "Rest API Ingest triggers infinite loop if there is a document error."
The Rest API ingest endpoint seems to trigger an infinite loop with error logging if any document in the request has any kind of issue. This is on main.

This request is missing fields in the document.

[code]

The server logs this error endlessly and will continue logging it even if you restart the process. Clearing the queues is required to make it stop.

[code]

[2022-05-25 21:49] kstaken opened #1553 "num_ingested_docs is incorrect on REST ingest API"
Using the REST ingest API the num_ingested_docs returned appears to always be 1 instead of the number of docs in the request.

[code]

In this case I would have expected it to be 10,000

[2022-05-25 21:59] fmassot commented on #1553
@kstaken I had the same issue, it works with this command:
[code]

[2022-05-25 22:04] fmassot commented on #1553
From the curl man page on '-d' argument:
[code]

[2022-05-25 22:05] fmassot commented on #1553
I made this same mistake and discovered the same bug as you in #1551

[2022-05-25 22:06] #1553 closed

[2022-05-25 22:23] kstaken commented on #1553
Grr, --data-binary, I always forget about that.

[2022-05-26 10:24] #1397 closed

[2022-05-26 10:25] guilload commented on #751
Closed by #1451

[2022-05-26 10:25] #751 closed

[2022-05-26 12:31] evanxg852000 opened #1555 "Indexer creates empty split"
When all documents sent to the indexer are invalid, an `indexed_split`  is still sent to the packager despite that split being physically absent from the file system.

**Expected behavior**
The `indexed_split` should be ignored

Indexing pipeline logs
[code]
</details>

[2022-05-26 22:20] guilload commented on #1510
I think `warn` is enough. On the Quickwit side is not really an error. Some systems actually use `debug` for those errors and just count them because it's super easy to attack a cluster by sending a bunch of garbage, sometimes even involuntarily. Nodes get super slow because they have to write a ton of logs on disk or send them over the network.

[2022-05-26 22:23] guilload commented on #1311
@fulmicoton, you did fix this issue, right?

[2022-05-27 06:49] gnufree opened #1562 "Indexer consumption Kafka error"
**Describe the bug**
I started 10 indexer nodes to consume Kafka data and reported the following error:
[code]

**Configuration:**
1. quickwit 0.2.1
2. quickwit.yaml
[code]
3. index.json
[code]

[2022-05-27 11:32] guilload commented on #1562
Hi @gnufree,

Unfortunately, as of today, Quickwit does not support multiple indexers working in parallel. You have to limit yourself to only one indexer. How much data are you trying to ingest?

We will support multiple indexers via manual static partition assignment in Quickwit 0.4. Full automated distributed indexing will come post Quickwit 0.5.

[2022-05-28 00:18] kstaken opened #1564 "Payload too large on REST API ingest should provide a better error message"
When you submit an ingest request that is too large you get an internal server error and the server logs a more specific error. The end user should also receive an error that tells them what is wrong with the request. Ideally the message would also include the value of the limit.

[code]

The server logs

[code]

[2022-05-28 01:02] gnufree commented on #1562
ok,Can an indexer consume records with the same ID？

[2022-05-28 01:03] gnufree commented on #1562
@guilload   ok,Can an indexer consume records with the same ID？

[2022-05-28 22:07] fmassot commented on #1562
@gnufree Concerning the error, currently a field marked as "fast" must be present in the document. If not, quickwit will not index the document and log this error `RequiredFastField("id")`.

[2022-05-28 22:09] fmassot commented on #1562
Yes, no problem with that.

[2022-05-30 00:58] fulmicoton commented on #1311
yes.

[2022-05-30 00:58] #1311 closed

[2022-05-30 01:06] gnufree commented on #1562
My index field ID has been set to fastfield, but I feel that indexes cannot consume my Kafka data. What is the reason?

My data volume generates 30million pieces of data per minute。

[2022-05-30 01:07] gnufree commented on #1562
@guilload  @fmassot

[2022-05-30 01:55] gnufree commented on #1562
@guilload
Now I feel that indexes can not consume so much data, resulting in data loss. What parameters should I adjust to meet my consumption needs.

[2022-05-30 02:04] gnufree commented on #1562
What's more, I can't see the consumption progress of indexer in Kafka. What's the reason.

[2022-05-30 03:57] PSeitz commented on #1562
I didn't do benchmarks with kafka, but with ingestion from local fs. So take the following with a grain of salt, in case the main bottleneck is coming from the kafka integration.

30 million per minute is a lot of data. It depends on the actual size of the documents and what fields are indexed, but log like data is closer to 20 million per minute on my machine (default settings, ingest command).

[2022-05-30 05:02] #1526 closed

[2022-05-30 06:09] gnufree commented on #1562
@fmassot

My data volume generates 30million pieces of data per minute。

I added these two parameters, but the effect is not obvious, and the consumption ability still can not keep up

@PSeitz
I added these two parameters, but the effect is not obvious, and the consumption ability still can not keep up

[2022-05-30 06:14] gnufree commented on #1562
@PSeitz
I added these two parameters, but the effect is not obvious, and the consumption ability still can not keep up

[2022-05-30 06:15] gnufree commented on #1562
@PSeitz
I added these two parameters, but the effect is not obvious, and the consumption ability still can not keep up

[2022-05-30 07:18] evanxg852000 commented on #1551
@fulmicoton @fmassot
From my investigation, this happens when you have only one doc in the queue, given the `current_offset` is zero-based and we do this check https://github.com/quickwit-oss/quickwit/blob/main/quickwit-indexing/src/source/ingest_api_source.rs#L104

With that check against zero, if we have only one document in the queue, the following line updating the `current_offset` will always

[2022-05-30 07:24] fulmicoton commented on #1422
@fmassot updated the docs. Eventually we should simply get rid of the postgresl drive deps by switching to sqlx for instance.

[2022-05-30 07:24] #1422 closed

[2022-05-30 07:44] PSeitz opened #1565 "RFC: Fuzzy Search"
## Issue Outline
Currently there is no fuzzy support in quickwit.

Fuzzy aims to provide a solution for mistypings (typographical errors). This is often done by finding all terms within a levenshtein distance.

fst is an excellent data-structure to apply fuzzy search, but it needs the complete dictionary even for exact searches. This does not work well for Quickwit, where the data is on S3 compati

[2022-05-30 08:43] #1555 closed

[2022-05-30 09:21] #1551 closed

[2022-05-30 10:10] #1546 closed

[2022-05-30 10:34] #1564 closed

[2022-05-31 07:54] fulmicoton opened #1569 "Split cache is not cleaned up, after deleting an index."
- index stuff using the indexing server (did not try ingest cli)
- stop the server
- delete the index

[2022-05-31 09:23] fulmicoton opened #1571 "We run one GC actor per source"
instead of one GC per index.

See the following log.
[code]

[2022-05-31 09:23] fulmicoton opened #1572 "We should run one GC actor per index, not per source."
We run one GC per source, but should run one GC per index
[code]

[2022-05-31 09:23] #1571 closed, assigned to nobody

[2022-05-31 15:34] fulmicoton commented on #1510
warning is ok.

[2022-05-31 15:34] #1510 closed

[2022-05-31 16:30] guilload opened #1577 "Redirect `discord.quickwit.io` to Discord invite link"
Example: [discord.orbit.love](https://discord.orbit.love)

[2022-05-31 18:24] #1361 closed

[2022-05-31 18:56] #1531 closed

[2022-05-31 22:10] #1400 closed

[2022-06-01 00:53] fulmicoton opened #1582 "Test TCP No delay in our Http client"
The http client used by rusoto S3 is https://docs.rs/hyper/0.14.19/hyper/

I think it comes with the default conf.
In our case, we might want to set up the TCP_NO_DELAY setting
https://docs.rs/hyper/0.14.19/hyper/client/struct.HttpConnector.html#method.set_nodelay

Explanation:
By default: The OS wait up to 40ms to see if more TCP data is to be sent out before emitting a packet.
The goal is to red

[2022-06-01 01:29] gnufree commented on #1562
[code]

[code]

[2022-06-01 05:26] fulmicoton opened #1584 "Support Google cloud storage."
We already support specifying an a non-AWS endpoint. In theory everything should work just fine, but let's check that by indexing a few splits and deleting an index.

[2022-06-01 08:13] fmassot opened #1585 "Link to the nightly build binaries on the main-branch docs"
On quickwit.io, the `main-branch` install docs points to the latest release binaries. It could be nice to point to the nightly binaries.

[2022-06-01 11:56] guilload opened #1587 "Migrate from Diesel to SQLx"
Main motivations:
- Diesel is sync
- Diesel imposes a dependency on *libpq*
- SQLx is more modular (you can choose your async runtime, TLS lib, date lib)

[2022-06-01 13:04] guilload opened #1588 "Add arch to `quickwit --version` command"
For instance:
[code]

[2022-06-01 13:25] fulmicoton commented on #1290
I meant the Document object itself. It could be one buffer, instead of possibly 1 buffer per text field.

[2022-06-01 15:45] guilload commented on #1562
Everything looks good except for the `RequiredFastField("id")` errors. I suspect some docs are missing the `id` field. As far as indexing throughput, it may be the case that the volume of incoming data is too high for a single indexer. Can you try `Quickwit 0.3`? The JSON parser is more performant in that version. I doubt it'll be sufficient, but it's worth trying.

[2022-06-01 22:24] guilload opened #1590 "Display split state in `split list` command output"

[2022-06-01 23:07] fmassot commented on #1562
@gnufree it seems like your documents are pretty small, can you share an extract of the documents you are indexing?

Also, can you share your index config too?

[2022-06-01 23:21] #1315 closed

[2022-06-02 00:14] kstaken opened #1593 "Failed upload to object storage results in endless split creation"
**Describe the bug**
I'm using minio for object storage and for some reason uploads are failing on `main` and in this scenario Quickwit seems to endlessly create new splits after each failed upload. All splits end up in `Staged` status and never reach `Published`.

Clearing the queues is required to make it stop.

**Steps to reproduce (if applicable)**
Data is submitted via the ingest REST API. I

[2022-06-02 00:25] fulmicoton opened #1594 "Log network latency breakdow somehow."
# Problem

Today we do not really understand how long is spent in the different phase of a data request.

Ideally we would like a breakdown of

did we need to establish a connection
how long did connection establishment (if there was one)
how long does TLS handshake took
time elapsed between sending the request and receiving the first byte. (TTFB)
Once we have this information, we need to try and

[2022-06-02 02:57] fulmicoton opened #1595 "Quickwit 0.3 not working on Minio"
As reported by @kstaken on discord, quickwit 0.3 does not work with minio through the custom endpoint trick.
(not reproduced yet)

[2022-06-02 07:24] #1588 closed

[2022-06-02 07:27] #1590 closed

[2022-06-02 10:20] fmassot opened #1597 "UI should sort results ordered by desc timestamp"

[2022-06-02 16:17] kstaken commented on #1595
I also dumped the put request and I noticed that the content-length here doesn't match the size logged for the split. It's not clear to me if this is relevant but the content-length is 17349530 bytes while the size of the split in the metastore is 26926583. Metastore does show the footer_offsets.end as 17349530. Shouldn't the end of the footer correspond to the size of the split?

[code]

[code]

[2022-06-02 16:22] fmassot opened #1599 "Server cannot start if you rm the index directory but forget to update the `indexes_states.json` file"
And the log is not very helpful

`Command failed: Index `gh-archive` does not exist.`

[2022-06-02 19:30] kstaken commented on #1595
Finally figured out what this is. It's caused by the trailing slash on the URL in `QW_S3_ENDPOINT`.

[code]

[2022-06-02 21:41] kstaken opened #1602 "Deleting and recreating a topic for an index result in retries on a non-recoverable scenario"
**Describe the bug**
If you delete and recreate the topic backing a Kafka source after reading data through it the server goes into a non-recoverable retry loop due to missing offsets.

[code]

If you then use this topic and push more data through it I would expect this might start working again after getting to 100,000 records but it will result in the loss of the first 100,000 records since offs

[2022-06-02 22:47] guilload opened #1604 "`index create --overwrite` fails if the index does not exist"
**Describe the bug**
`index create --overwrite` fails if the index does not exist.

**Steps to reproduce (if applicable)**
Steps to reproduce the behavior:
1. create a **new** index with ``index create --index-config --overwrite` fails if the index does not exist

**Expected behavior**
The command succeeds.

[2022-06-03 00:53] fulmicoton opened #1606 "Delete and readding a source with the same source_id results in a bug. [Unconfirmed]"
RIght now we save checkpoints in a map that goes

[code]

Also we never clear checkpoints.
If one was to remove and readd a source iwth the same source id, the new source will inherit from the checkpoint of the previous source.

(Very mildly related to #1602)

# Possible fix

[Preferred solution if there are no horrible implication] Clear the checkpoints when we remove sources

[2022-06-03 00:59] fulmicoton commented on #1602
I think the current spec takes this in account.
In this situtation we accept the checkpoint delta and log a warning.

In other words I think the current spec is

`pos=4 | delta=4.,23` -> pos =23
`pos=4 | delta=10.,23` -> logs a warning + pos =23
`pos=4 | delta=4..,23` -> logs an error + refuses the delta.

We do not have a special case on this error, so the indexing pipeline will restart and retry

[2022-06-03 01:07] fulmicoton commented on #1602
One interesting thing to note is that the error is coming from the kafka client.
This is an extra clue that what happens is really that while the targetted topic has the same name, it is probably
not the same topic (delete/recreate OR some weird "I imported my config from another cluster without caring about checkpoints").

My 50c we should confirm and fix #1606 super rapidly (0.3.1).
At least peo

[2022-06-03 01:08] fulmicoton commented on #1602
What do you think @kstaken ?

[2022-06-03 01:12] #1595 closed

[2022-06-03 01:26] guilload commented on #1602
I'm wary of implicitly resuming from the low watermark. IMO, this behavior should be at least opt-in via a configuration parameter for the source. In production, as an operator, you probably want to take the time to understand why the committed offsets are no longer within the bounds of the topic and only then take the appropriate actions.

Did you recreate the topic to "start fresh" as you were t

[2022-06-03 01:27] guilload commented on #1602
You beat me to it @fulmicoton  :)

[2022-06-03 01:42] fulmicoton commented on #1593
Ideally we should be able to qualify failures as permanent (e.g. checkpoint not matching, config broken), or transient (e.g. connectivity to the metastore, storage, source).

That job however is very tricky to get right...
I think we want to qualify all errors as transient by default and have a good behavior there.

By good behavior, I meant we want the pipeline should act as a "buggy car", that k

[2022-06-03 01:49] fulmicoton commented on #1606
As mentioned by @guilload this is done in
https://github.com/quickwit-oss/quickwit/blob/main/quickwit-metastore/src/metastore/index_metadata.rs#L172

[2022-06-03 01:49] #1606 closed

[2022-06-03 07:29] kstaken commented on #1593
I created this ticket before I learned that the splits were in `Staged` status vs `Published` status. Knowing this now I don't see the retry it self as necessarily a problem since this was ultimately a transient failure and retrying would be the correct thing in that scenario. I might question the retry occurring under a new split_id but it may not be a major issue beyond creating noise in the spl

[2022-06-03 08:22] bradziszewski commented on #873
`partition_by_field` looks like it's still missing in docs

[2022-06-03 11:18] #1403 closed

[2022-06-03 13:15] fmassot commented on #873
Actually, this is voluntary because this part of the code is not stable.

Do you have a use case where this`partition_by_field` is useful for you?

[2022-06-03 14:42] guilload commented on #1478
Closed via #1563.

[2022-06-03 14:42] #1478 closed

[2022-06-03 21:30] guilload commented on #1577
https://discord.quickwit.io/

[2022-06-03 21:30] #1577 closed

[2022-06-04 16:39] #1515 closed

[2022-06-05 12:16] saroh commented on #1584
Hi @fulmicoton, I've tried but I get an error both localy and on a compute instance.
I'm running this tutorial: https://quickwit.io/tutorials/tutorial-hdfs-logs-distributed-search-aws-s3/
+ https://cloud.google.com/storage/docs/interoperability

[code]
I also tried without env vars and using `~/.aws/credentials`

[code]

Testing google cloud acting as aws
[code]

Suceeds localy:
[code]

[2022-06-05 14:16] fulmicoton commented on #1584
Thank you @saroh for the brilliant report

[2022-06-05 16:44] fmassot commented on #1584
Maybe it comes from rusoto?

Can you try running something like this to see if it works?

[code]

[2022-06-05 17:47] fmassot commented on #1584
Ok, the `list_objects` works with rusoto.

[2022-06-05 18:23] saroh commented on #1584
Same!

[2022-06-05 18:50] fmassot commented on #1584
Ok, found the origin. When declaring dependencies in `Cargo.toml` with
[code]

It works.

But with

[code]

It will raises the error `Error obtaining body: Error obtaining chunk: error reading a body from connection: stream error received: unspecific protocol error detected`.

[2022-06-05 23:43] saroh commented on #1584
Indeed it works if we remove `rustls` from all the rusoto deps. This means using the openssl lib though.
[code]

[2022-06-06 00:00] fulmicoton commented on #1584
Wow I did not expect that >.<

[2022-06-06 00:15] fulmicoton commented on #1584
oh I did not expect that at all

[2022-06-06 01:19] fulmicoton opened #1609 "Create a reproducible benchmark to track and investigate index size for different datasets"

[2022-06-06 01:20] fulmicoton opened #1610 "Investigate docstore size"
We can probably greatly improve the docstore size. Investigate ZSTD, ZSTD+dictionary, changing the block size, etc.

[2022-06-06 01:59] fulmicoton commented on #1584
http logs with rustls enabled (obtainable with RUST_LOG=debug)

[code]

[2022-06-06 02:41] fulmicoton commented on #1584
With compiling quickwit without rustls I get the following error
[code]

[2022-06-06 02:49] fulmicoton commented on #1584
Interestingly creating the idex with a metastore on S3 works, as reported by @saroh

[code]

So we probably have 2 bugs on our hands.

[2022-06-06 11:31] saroh commented on #1584
Thx for the debug env var I did not know it's existence ^^.

I'd say @fmassot's example + the GCP acting as AWS example probably indicate an issue with rusoto + `rustls` (it works with openSSL) ?

I tried to go back a couple `rusoto` versions on the example to see if i found a working one to no avail, v0.46 yields the following error `Err(HttpDispatch(HttpDispatchError { message: "Error during dis

[2022-06-06 14:58] saroh commented on #1584
## Sample code
[code]
## openssl
[code]

[code]

## rustls
[code]

[code]

[2022-06-07 01:32] fulmicoton commented on #1584
This is not a rustls bug. It is more of a http2 / hyper-client bug.
What is super misleading is that rusoto weirdly adds http2 support for  hyper-rustls but not for hyper-tls.

(See the list of features here https://github.com/rusoto/rusoto/blob/master/rusoto/core/Cargo.toml#L31-L32)

The following PR fixes google cloud support by disabling http2 in the hyper http client.
https://github.com/quickw

[2022-06-07 01:48] fulmicoton commented on #1584
I indexed the hdfs dataset. Everything looks ok.

Latencies are in the same ballpark as S3.

[code]

[2022-06-07 01:55] fulmicoton commented on #1584
@saroh If you have time, can you have a review at #1612?

I could not add you as reviewer because you are not part of hte  quickwit-dev  group yet, so I invited you.

[2022-06-07 02:24] fulmicoton commented on #1595
@kstaken Thanks for the report and sorry for the trouble. The fix will be shipped in 0.3.1

[2022-06-07 05:09] fulmicoton opened #1613 "Quickwit's indexing per-index footprint"
Right now Quickwit uses several thread PER indexing pipeline.
This ticket is about improving the situation.

[2022-06-07 07:21] PSeitz commented on #1610
ZSTD Compression, Dict training with 20 blocks, dataset 1GB hdfs.

Docstore block size, compression level, dictionary setting
[code]

[2022-06-07 09:39] mr-karan opened #1614 "Timestamp based search"
**Is your feature request related to a problem? Please describe.**

If this tool is meant for log analytics, I'd like to be able to search for all entries based on "timestamp".

**Describe the solution you'd like**
A `from` and `to` field (as datetime dropdowns in the UI) will be useful to have.

**Describe alternatives you've considered**

Currently, I don't think there's a way to query with time

[2022-06-07 12:30] evanxg852000 commented on #1572
@fulmicoton Pulling the GC actor from the `indexing_pipeline` will make it an unsupervised actor. is this ok?
We probably have to log its errors to keep it running like the IngestAPI queue GC

[2022-06-07 14:26] godwhoa opened #1617 "Kafka Source: Add support for wildcard or regex-based topic subscription"
**Is your feature request related to a problem? Please describe.**
The use-case stems from having a topic per tenant. Currently, I'd have to manually create a source configuration per tenant manually.

**Describe the solution you'd like**
Add support for subscribing to topics via. a regex or wildcard. librdkafka has support for this.

**Describe alternatives you've considered**
Manually adding sou

[2022-06-07 18:28] guilload commented on #1614
Hi @mr-karan,

Quickwit does support "time-based" search: the search API endpoint has two parameters `start_timestamp` and `end_timestamp` for this purpose ([docs](https://quickwit.io/docs/reference/rest-api#get-parameters)). The also UI features a datetime picker.

Is there something that we can make clearer in the docs and/or README?

[2022-06-07 18:54] fmassot commented on #1614
Note: timestamp filtering is activated in the UI only if the index has a `timestamp_field`.

[2022-06-07 18:58] fmassot commented on #1614
With the screenshot

<img width="1440" alt="screenshot-timestamp-dropdown" src="https://user-images.githubusercontent.com/653704/172461017-a9ebfbf0-356e-40ab-9b77-5ff9c0e1af35.png">

[2022-06-07 19:02] fmassot commented on #1614
ok! Then I think the quickstart should include an example with timestamp, let's close this one and open an issue on that.

[2022-06-07 19:02] #1614 closed

[2022-06-07 19:22] fmassot opened #1618 "Use an index with a timestamp field in the quickstart"
Following #1614 opened by @mr-karan, it would be nicer to have a quickstart with an index with a timestamp field in the quickstart. Let's do it!

[2022-06-07 22:18] fmassot opened #1620 "Make dev XP nicer with the UI"
Working on the UI or something related to it requires building the UI with the latest JS/TS code.

## Problem 1
With the current setup, the following annoying scenario can happen:
- you build the UI with yarn
- you work on the codebase
- you execute `cargo r run`
- you can go to `localhost:7280/ui` and check it works

The problem is that the assets served by the server are not updated, so you may

[2022-06-08 01:20] fulmicoton commented on #1584
Correction about what I said before... The connnection pooling is handled by hyper and hyper knows how to do multiplexing, so it might be beneficial to actual get HTTP2 to work.

[2022-06-08 01:21] gnufree commented on #1562
@fmassot  This is my index configuration：
[code]

[2022-06-08 01:50] #1584 closed

[2022-06-08 02:12] gnufree commented on #1562
@guilload 0.3 not allowed to use_ Field created？
[code]

[2022-06-08 09:50] fulmicoton commented on #1572
It is slightly more involve. Let's not address this ticket in 0.3.1.

[2022-06-08 10:19] PSeitz commented on #1609
Related to https://github.com/quickwit-oss/quickwit/issues/794

[2022-06-08 18:40] guilload opened #1624 "Expose source API (create/delete) in REST API"
- [x] Design endpoints
- [x] Implement
- [x] Update docs

[2022-06-09 00:40] fulmicoton commented on #1610
Cool. It sounds like 64K  `Level6, 30k Dict` is  a good sweet spot?

Would dictionary building be a pain though? (I'm thinking especially in merges).
Should we stick to `64K, Level6, No Dict`?

For comparison, do you have a figure for today's situation with LZ4?

In order to avoid breaking compat too often, can you investigate in the lightest way possible (via the zstd CLI probably)
if our binary

[2022-06-09 02:39] fulmicoton commented on #1617
Although -as discussed on discord- you would like to have 1 index per tenant.

[2022-06-09 02:42] fulmicoton commented on #1562
@gnufree. Yes, fields starting by _ are forbidden.
https://quickwit.io/docs/configuration/index-config#field-name-validation-rules

[2022-06-09 02:45] fulmicoton commented on #1562
I recommend against using
[code]

If you are in the cloud, make sure to use a node with a local SSD.
With EBS, the network will rapidly become your limiting factor.

We may have different workaround to increase your indexing throughput, if you are ingesting from kafka.
I'm happy to discuss those if you are ok to have a quick call.

[2022-06-09 02:54] fulmicoton opened #1625 "Offer a way to select a subset of kafka partition in a kafka source"
The objective would be to allow having a larger indexing throughput by running K indexing pipelines for a single index.

The selector coudl be k % N, or a list of partitions maybe?

[2022-06-09 02:55] fulmicoton opened #1626 "MergePlanner is broken if we have more than one indexing pipeline."
If we have more than one sources, the different merge planners are likely to schedule overlapping merges.

[2022-06-09 08:56] fulmicoton opened #1627 "Index uri did not end up with the default refresh hash tag #30s"
When creating a index uri without specifying any index-uri, and using a `default_index_root_uri` uri, I ended up with an index uri  that does not contain the hash tag that refreshes the metastore at a regular interval.

[2022-06-09 09:00] #1627 closed

[2022-06-09 09:46] fulmicoton commented on #1626
Duplicate of 1264

[2022-06-09 09:46] #1626 closed

[2022-06-09 09:56] fulmicoton opened #1628 "copy pasting the API urls at the bottom of the pages in the UI do not work"
at least on my computer....

I am on linux/brave.
The copy paste buttons on github are working fine.

[2022-06-09 13:53] guilload opened #1629 "Find (or select) split metastore API?"
I've noticed this pattern a few times in the codebase:
[code]

In the short-term, we could expose a new `find_split(index_id, split_id) -> Option<Split>` metatore API. In the long-term, we probably want `select_splits(index_id, expression) -> Vec<Split>` where `expression` can express arbitrary filters.

[2022-06-10 01:24] fulmicoton opened #1630 "Expose split states / split meta"
As pointed out by @kstaken exposing the splitstate with a higher granularity in the metastore could help operating & understanding quickwit.

https://github.com/quickwit-oss/quickwit/issues/1593#issuecomment-1145674788

Indexing
Preparing
Staged / Uploading
Published
MarkedForDelete

Maybe the metastore is not the best place for this however?

[2022-06-10 01:28] fulmicoton opened #1631 "Make it possible to reset the checkpoint for a given source."
See motivation in #1602

[2022-06-10 01:30] fulmicoton commented on #1602
Created #1631 ,  closing this issue.

[2022-06-10 01:30] #1602 closed

[2022-06-10 07:57] #1569 closed

[2022-06-10 09:39] PSeitz commented on #1610
For best compromise of complexity and compression ratio, I think 1MB or 2MB blocks (uncompressed) without dictionary would be a good choice.
2MB blocks are ~150kB actual block size. 1MB blocks are ~75kB actual block size. Both are still pretty small for S3 fetch calls. For datasets with many ids, the compression level would likely be much lower.

#### Compression Level
For the compression level, i

[2022-06-10 14:39] PSeitz opened #1632 "HTTP method not allowed for wrong json"
Any additional fields on the json request returns "HTTP method not allowed"
[code]

Ignoring the field or returning an error with the unrecognized field would be better.

[2022-06-11 10:03] fulmicoton commented on #1628
Ooooh it was probably the http va https problem then. I was running on localhost.

[2022-06-11 21:54] evanxg852000 commented on #1628
There are plenty of sloppy workaround like `prompt("Copy to clipboard: Ctrl+C, Enter", text)` but the modern and nice way has this restriction on the web API for security. The only exception is when running on localhost.
We can probably detect when standard browser API is not applicable and do a workaround or at least gray out (disable) the button

[2022-06-12 10:25] fmassot commented on #1628
Or maybe put a `href` with `target="_blank"`

[2022-06-13 01:04] mxlxm commented on #1625
Why don't we just remove the manually partition assignment?
Set group.id with the same ID across multiple indexer, thus consumergroup bases partition assignment can do the same things for us

[2022-06-13 02:29] fulmicoton commented on #1625
Good question. I think it might be surprisign that we do not rely on consumer groups at all today, and we do not rely on kafka to store checkpoint information.

There are two reasons for this:
The first one is that we want to handle more sources than just kafka, and some of these source do not offer the concept of consumer group. Kinesis for instance... But also files etc.

The second reason -whic

[2022-06-13 03:32] mxlxm commented on #1625
That's great, but every source has it's own pros, we should take the advantage of them while we intergrate them, other than fallback to their version 1.0, WDYT?

IMO, msg consumed from source and acked for the source, then source has done it's duty. the `exactly-once semantics` should take care within the pipeline itself or at split level, the source shouldn't be accessed anymore.

[2022-06-13 08:05] fulmicoton commented on #1625
This would be a more interesting debate if there was one pro to using kafka consumer group in Quickwit. I see none.

Anything can happen between the moment when the source delivered its message and a split was actually published.
From the quickwit user point of view, the solution you are describing is "at most once" delivery, which is rarely what people want  (usually people want at least once)

[2022-06-14 06:26] #1628 closed

[2022-06-14 10:52] boraarslan opened #1636 "Update docs and tutorials for boolean fields"
When #1634 merges, docs and tutorials need to be updated too.

`jq` requirements of some tutorials for boolean fields need to be edited, such as [Kafka Tutorial](https://quickwit.io/tutorials/kafka/)

[2022-06-15 05:56] fulmicoton opened #1638 "Starting quickwit with 100 index fails with "Failed to empty scratch directory" (too many file descriptors)"

[2022-06-15 12:39] PSeitz opened #1643 "Indexing fails with new Sequencer"
Error seems to occur after first published split

[code]

[2022-06-15 12:40] PSeitz commented on #1643
Seems to be fixed with https://github.com/quickwit-oss/quickwit/pull/1642

[2022-06-15 21:32] #1597 closed

[2022-06-17 15:45] guilload commented on #1135
We resumed this work in the last few weeks and **did** observe that increasing the block size improves the compression rate. After [analysis](https://docs.google.com/spreadsheets/d/1KLe6AWdBZvYQC7Hp7-_UI8Y0KfcUkTtWwB6dKxG_6kM/edit?usp=sharing), we settle on the following default compression parameters:
- compression algo: zstd
- compression level: 8
- input blocksize: 1M

This was implemented in #

[2022-06-17 15:45] #1135 closed

[2022-06-17 15:46] guilload commented on #1135
Closed by #1646

[2022-06-17 15:50] #1537 closed

[2022-06-18 15:25] zamazan4ik opened #1651 "Document supported hardware architectures"
Hi!

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is required - I do not know). This kind of information is important for the end-users.

The only thing that I have found - info about prebuil

[2022-06-19 14:13] fulmicoton commented on #1651
We should probably find a place where to put that information but...

We officially only support Linux, also it should work on Freebsd and MacOS too.
We support x86-64  and ARMv7.

On x86-64, we do not require the use a recent CPU but not having SSSE3 will have
a strong impact on performance (we detect the presence of the instruction set at runtime).

On ARMv7, quite frankly I don't know. I can on

[2022-06-19 19:26] zamazan4ik commented on #1651
That is fine. Just put this information into the documentation. And if in the future architecture requirements will be changed, do not forget to update it :)

[2022-06-20 10:07] chenjinlei1122 opened #1653 "Cause: Last checkpointed offset `2692` is greater or equal to high watermark `42`"
**Describe the bug**
can't index from kafka
the error is as follows:
[code]

**Configuration:**
Please provide:
1. quickwit 0.2.1
2. The  trace.yaml
[code]

[2022-06-20 11:13] fmassot commented on #1653
Hi @chenjinlei1122, thanks for the report.

First, I'm wondering why you are still using the 0.2.1, the `trace.yaml` indicates a format only compatible with the 0.3.

Concerning the error `Last checkpointed offset `2692` is greater or equal to high watermark `42`. retry_count=26 retry_delay=600s`, Quickwit indicates an inconsistency between the last checkpoint offset in Quickwit which is `2692`, a

[2022-06-21 00:53] fulmicoton opened #1655 "Refactoring needed."
The extraction of tags for https://github.com/quickwit-oss/quickwit/pull/1634 highlighted a limitation in the way we manipulated queries.

The extraction of tags (extract_tags_from_query) operates on the UserInputAst, which is schema independent, and therefore, untyped.

This made it impossible for us to have support for  user queries such as `my_bool_tag_field:1`, as tag pruning would translate i

[2022-06-21 02:27] chenjinlei1122 commented on #1653
that's right， thanks for your repley

[2022-06-21 02:27] #1653 closed

[2022-06-21 07:20] #1483 closed

[2022-06-21 12:07] chenjinlei1122 opened #1656 "run service indexer in 0.3.0"
**Is your feature request related to a problem? Please describe.**
run a  indexer service
in version 0.2.1, use command
`service run indexer --indexes trace`
in version 0.3.0,  use command
`run --service indexer --indexes  trace`
it not run and error
` error: Found argument '--indexes' which wasn't expected, or isn't valid in this context
        If you tried to supply `--indexes` as a value rathe

[2022-06-21 20:50] guilload opened #1658 "Support for Kubernetes"
- [x] Stop passing resolved addresses to Chitchat
- [x] Pass public gRPC addresses to Chitchat
- [x] Add node config overrides via env vars for cluster ID, node ID, ... (at least for the `run` command)
- [x] Add support for web identity providers
- [x] Write Kube manifests for indexer and searcher deployments
- [x] Add readiness and liveness endpoints to Quickwit services
- [x] Add readiness and l

[2022-06-21 21:43] #1604 closed

[2022-06-23 00:39] fulmicoton commented on #1656
@chenjinlei1122 we deprecated this option. Today it is not possible to select a subset of index. All indexing pipeline are started automatically.

We have a 0.3.1 released scheduled rapidly. Is this something you need?

[2022-06-23 02:01] fulmicoton commented on #1011
Developing on my previous comment as it was a bit too succinct.

We could let users reference environment variables in their config.

For instance:

quickwit.yaml

[code]

We can use an off-the-shelve template engine, pick the environment variable dictionary and do the render quite simply.
It is easy to implement, and perfect for the k8s use case at least.

[2022-06-23 02:02] fulmicoton commented on #1011
Developing on my previous comment as it was a bit too succinct.

We could let users reference environment variables in their config.

For instance:

quickwit.yaml

[code]

We can use an off-the-shelve template engine, pick the environment variable dictionary and do the render quite simply.
It is easy to implement, and perfect for the k8s use case at least.

If we go this route (it has my votes), i

[2022-06-23 02:04] chenjinlei1122 commented on #1656
@fulmicoton
0.2.1 docker-compose.yaml
[code]
0.3.0 it's only need create index, then run --service searcher, don't need run --service indexer ?

[2022-06-23 02:31] fulmicoton commented on #1656
[code]

[2022-06-23 08:12] chenjinlei1122 commented on #1656
ok, thanks for your repley

[2022-06-23 08:12] #1656 closed

[2022-06-23 15:08] guilload opened #1661 "Make public IP configurable in node config."
Currently only available via the `QW_PUBLIC_IP` env var. Assignee, don't forget to update the docs.

[2022-06-24 09:27] sunisdown commented on #1625
looks good enough to select a subset of kafka partition.

how do we plan to maintain the `partation:offset` cross the K indexing pipelines? store the information in metastore?

[2022-06-24 09:30] fulmicoton commented on #1625
It is stored in the metastore.

[2022-06-24 09:51] sunisdown commented on #1625
can we use something like `consistent hash`? If we use  `k % N`, when there's some infra changes like remove/add in indexer node in the cluster, there will be a lot partition will be relocated to other nodes.

[2022-06-24 18:18] kstaken opened #1666 "index create --overwrite should be more clearly indicated as a destructive operation"
**Describe the bug**
We needed to update the configuration on an existing index and one of my engineers pointed out the --overwrite option to index create as a possible way to do it. We both read the description in the CLI help but not the online docs and neither of us realized that it meant it completely overwrites the index including removing all existing data. We had just expected it to overwri

[2022-06-24 18:30] kstaken opened #1667 "Split sizes in the metastore appear to be incorrect"
**Describe the bug**
The split sizes stored in the metastore appear to be incorrect and result in over reporting on the size of the data in the UI and other places where the size is surfaced.

Split as reported by Quickwit

[code]

Object size in Object storage.

[code]

[2022-06-24 19:40] kstaken opened #1668 "--mark-for-deletion on split list seems dangerous"
**Describe the bug**
The `split list` command is primarily an informational command but it has an option `--mark-for-deletion` that takes destructive action. I get why this option exists, it's a nice convenience, but from a CLI design perspective it strikes me as a dangerous option on a command called `split list` that is going to mainly be used for informational purposes.

Without reading the doc

[2022-06-24 23:00] kstaken opened #1669 "Consider adding support for standard kafka consumer groups and at least once semantics"
**Is your feature request related to a problem? Please describe.**
This is related to #1625 but I wanted to surface this as a separate issue as I think this question is tangential to the goal in #1625.

The issue that is bringing this up is that we're running a larger scale test with Quickwit and the indexing throughput from Kafka is significantly bottlenecked. The highest throughput we've achieve

[2022-06-25 03:47] honiewelle opened #1670 "Getting segmentation fault on start"
**Describe the bug**
I am currently testing quickwit and currently with a fresh installation of quickwit with a postgres metastore_uri. However, running with this metastore configuration results to a segmentation fault error. The postgresql server is running on version 13.6 and I am currently using the database `root` account for testing purposes. Changing though to file based metastore on both fi

[2022-06-25 22:56] guilload opened #1672 "Credentials leak when displaying metastore URI in logs (PostgreSQL)"

[2022-06-27 01:38] fulmicoton opened #1673 "Broken `make fmt` - license check has been deprecated from Rust nightly"
See https://github.com/rust-lang/rustfmt/issues/5103

We need to find an alternative to do license check.

[2022-06-27 02:04] sunisdown opened #1674 "Stateless HTTP Indexing sources"
**Is your feature request related to a problem? Please describe.**
We want to write data via the http endpoint and we have a very large amount of data and need to scale out indexing nodes.
The current `Ingesting API` is pretty good, but there are a few issues: this is a stateful endpoint, which requires queues to be maintained in local disk. when the http request returns a successful response, the

[2022-06-27 05:44] PSeitz commented on #1674
Thanks for the bug report, I created a similar issue here: https://github.com/quickwit-oss/quickwit/issues/1442

The approach to keep the connection alive may cause issues on some infrastructure, which is configured with a timeout. I think we could still provide it as a wrapper around the async api, with the caveat that it may timeout in some environments.

[2022-06-27 05:53] fulmicoton commented on #1670
Confirmed on PopOS... (ubuntu base) @evanxg852000 do you knwo what it could be?

[2022-06-27 07:19] sunisdown commented on #1674
Agree with the configured timeout, If we configure the client side with larger timeout, by keeping the connection alive , this endpoint can be used quite simply.

Would you mind sharing the concerns?

[2022-06-27 07:56] sunisdown commented on #1674
@PSeitz   just curious, May I know why we choose to store the data in Rocksdb instead of creating an index and uploading it directly to S3?
I have read several related issues and can't find the objectives for storing the logs in local disk.

[2022-06-27 08:03] guilload commented on #1674
The data is temporarily persisted on local disk until the index is successfully uploaded to S3. When indexing errors happen, we can resume from the local data. Most databases use [this technique](https://en.wikipedia.org/wiki/Write-ahead_logging) to ensure the durability of data.

[2022-06-27 08:30] sunisdown commented on #1674
@guilload Thanks for your reply. I have worked storage engines and distributed storage system and I totally agree with the WAL technique for database.

How often does this error occur? My understanding, if not often, it is fine to resend the HTTP request if an error occurs. And current implement can't provide durability of data because of the lack of replica. It would seem a simpler design if the

[2022-06-27 08:35] #1587 closed, assigned to fulmicoton

[2022-06-27 08:37] fmassot commented on #1673
I did not find an alternative in rust.
We can either:
- having a custom `build.rs` like in this project https://github.com/AleoHQ/snarkOS/pull/1807
- create a small crate that does the job.

I'm in favor of option 2.

[2022-06-27 08:43] guilload commented on #1673
There used to be `license-check` and `license-fix` commands in the Makefile based on this [tool](https://github.com/apache/skywalking-eyes), which was clunky in my opinion but somewhat got the job done. We can reinstate those commands.

[2022-06-27 09:03] PSeitz commented on #1670
Looks similar to this issue: https://github.com/sgrif/pq-sys/issues/38

[2022-06-27 09:08] fmassot commented on #1673
yes, good idea

[2022-06-27 09:12] guilload commented on #1674
Yes, rarely.

Yes. Our plan is to replicate the WAL eventually.

Not that simple unfortunately. You'd want to commit rather often to avoid having too much data at risk at any given time. However, committing often hurts the indexing throughput. In addition, in multitenant settings, we can't have too many indexing threads running at the same time.

I believe appending the data into a WAL is a soluti

[2022-06-27 19:39] kstaken opened #1676 "Time selector in the UI drifts"
**Describe the bug**
I'm not sure if this is by design or not but the time selector in the UI drifts as you keep the UI open.

The time range here was set originally as "Last 30 minutes", after a couple minutes when you run a query the time range changes which is unexpected.

<img width="914" alt="image" src="https://user-images.githubusercontent.com/283724/176021862-34732808-76e3-4404-a59c-9c9371

[2022-06-27 19:55] fmassot commented on #1676
Good point, I forgot to open an issue on this, thanks :)

[2022-06-27 21:06] saroh commented on #1673
You could use diff for `licence-check` + patch + cleanup diffs in `license-fix`.
[code]

[2022-06-27 21:10] kstaken opened #1679 "OOMs after repeated queries on larger amounts of data."
**Describe the bug**

We've now loaded Quickwit with 16.4 Billion records and have started to trigger some out of memory (OOM) failures. In addition we've also seen clustering issues so to isolate the OOMs we scaled down to a single search node.

The test query matches 67 million records but there's no sorting, timestamps or anything complicated on the query, just a single criteria i.e.:`field:val

[2022-06-28 01:35] kstaken commented on #1674
If you're talking about storing a log and then replicating the local state you're rapidly heading down the path of duplicating what Kafka already does. That replication is going to bring a ton of complexity and this doesn't strike me as something that Quickwit should really be doing.

I get that the current API seems simple as you can just dump data into it, but in reality it's not usable in the r

[2022-06-28 01:53] sunisdown commented on #1674
cant agree more with this, the merging flow should merge the small splits in background, REST API only handle the ingest request and upload splits to S3(or some object storage system).

the current Ingest API is not an `Ingest API` but a queue, `ingest source` consume the message from `ingest API queue`, Queue and Ingest API should be two different things. Quickwit can provide a queue and let user

[2022-06-28 02:23] honiewelle commented on #1679
Hi @kstaken. Just curious, may I know your current index size total?

[2022-06-28 02:39] fulmicoton commented on #1674
The PushAPI has been introduced for users who want an alternative to cheaply index a small amount of application logs.
For large use case, Quickwit is meant to grab its data straight from Kafka/Kinesis/Pulsar etc.

I don't think a rest PushAPI that does not queue documents, produces a split right away and blocks until this is done is something someone with a lot of data would use. To maximize thro

[2022-06-28 02:45] fulmicoton commented on #1670
I just merged a PR that removes the dependency on libpq. This should solve this problem.
If this is a blocking issue for you @honiewelle we can probably release a 0.3.2 version rapidly.

(I assume you can also fix your problem by compiling quickwit on your target hardware.)

[2022-06-28 02:47] fulmicoton commented on #1670
@PSeitz Good find that's probably it indeed.

[2022-06-28 02:48] fulmicoton commented on #1679
Thanks for the report. We'll have a look at that.

[2022-06-28 03:22] honiewelle commented on #1670
Thank you @fulmicoton for the pushing the fix. This has been preventing us to test multi node indexing further. For now I will be compiling it locally against the main branch to see if it fixes the issue.

For `0.3.2` release it would be nice if the following fixes are included as well:
- https://github.com/quickwit-oss/quickwit/issues/1679
- https://github.com/quickwit-oss/quickwit/issues/1672

M

[2022-06-28 03:31] sunisdown commented on #1674
There are a very large number of services that use HTTP APIs to provide services that write a lot of data, ElasticSearch/ Clickhouse/Snowflake are all there and HTTP can be used as a way to upload large amounts of data. It's just that the current quickwit PUSH API is not suitable for uploading large amounts of data.

I believe users can find the right data size for each request. It's just that the

[2022-06-28 04:54] fulmicoton commented on #1674
I'm sure you are familiar with all this, but there is no harm to be explicit/exhaustive.

Elastic PushAPI bulk api is not stateless per se. It has an internal queue. The difference with Quickwit is that it is properly replicated. You can optionally force a commit to do make something that from the outside behave like your stateless http indexing source, but
- it still writes sequentially on the di

[2022-06-28 05:45] sunisdown commented on #1674
Thanks for you replay @fulmicoton , let's ignore my own use case and focus on the endpoint. My use case is not mentioned in this issue. I didn't open this issue for my own use case, which of course might help, but more because I think Quickwit needed a similar endpoint for writing data atomically. That's why I'm opening an issue to discuss with you :)

What attracted me to Quickwit was the statele

[2022-06-28 05:47] fulmicoton commented on #1679
@kstaken could you give this PR a try?
https://github.com/quickwit-oss/quickwit/tree/issue/1679

This fix is a bit naive. It limits the number of split searches that can run concurrently. Ideally we probably want to make use a memory permit for this, but it is a bit tricky to do it without causing a deadlock.

[2022-06-28 05:52] fulmicoton commented on #1674
`refresh=true` here  would mean:

- trigger a commit
- wait for all the pending docs to be published before returning.

[2022-06-28 06:05] sunisdown commented on #1674
Noted with thanks.

It seems that we need an atomic commit, either `Stateless PushAPI` or `Non-Replicated Push API + refresh=true` will work, at the moment I'm leaning towards `Non-Replicated Push API + Refresh=true` as this has a higher throughput than `Stateless PushAPI`.
There is also a need for a Replica PushAPI, which I would prefer to call Distributed Queue.

[2022-06-28 07:14] fulmicoton commented on #1673
The previous tool sucked. I tried to package @saroh's diff solution into a bash script. It seems decent enough.

[2022-06-28 07:34] honiewelle commented on #1670
Hi @fulmicoton I can confirm now that this bug was already fixed in the nightly build.

I would like to point out though to also mention in the documentation that the minimum Postgresql version is 14.x as I was encountering the below error when I was using Postgresql 13.x earlier.

[code]

[2022-06-28 07:56] #1673 closed

[2022-06-28 08:04] fulmicoton opened #1683 "sqlx migration script requires Postgresql 0.14 today."
As reported by @honiewelle in #1670
[code]

[2022-06-28 21:07] kstaken commented on #1679
@fulmicoton  We'll try that out.

FYI, we had also updated to 0.3.1 and data is now up to 20.7B records which is roughly 9TB of indexed data. At this size non timestamp constrained queries now fail to complete. We'll see how it behaves on the branch.

[2022-06-29 00:42] fulmicoton commented on #1679
The PR link was apparently broken. I fixed it.
The PR introduces a new param in the searcher called `max_num_concurrent_split_searchs`.

It should be sufficient to at least work... but the default has been thought for Amazon S3.
On MinIO you can probably use a lower figure (e.g. `max_num_concurrent_split_searchs: 10`).

It might yield better performance and a lower memory footprint.

[2022-06-29 02:01] #1683 closed

[2022-06-29 02:02] fulmicoton commented on #1670
@honiewelle Did the migrations ended up working or not?

I update the migration script to make sure it works for postgres >= 0.9.

[2022-06-29 02:25] honiewelle commented on #1670
it worked after upgrading the database to 14.x

[2022-06-29 02:28] fulmicoton commented on #1670
Ah sorry for the extra work. It was just a bug in the migration script. Anything above postgresql 9 should work.

[2022-06-29 02:28] #1670 closed

[2022-06-29 02:32] fulmicoton commented on #1667
This size is the original size of your documents payload, not the size of the splits.
We did a proper rename in the code but not in the serialization.

It would also be nicer to have both.

[2022-06-29 08:59] fulmicoton opened #1685 "Config deserialization shoudl be stricter"
Right now, if someone makes a typo in one of the property of {Search,IndexerConfig,StorageConfig}, quickwit will just ignore it and use the default value.

[2022-06-29 09:24] #1685 closed

[2022-06-29 10:22] sunisdown commented on #1208
This can be divided into two parts

1. form an indexer cluster
This can be easily obtained based on gossip. However, it is important to distinguish between indexer and searcher.

2. distribute the logs to the nodes in the indexer cluster
can partition the logs based on hash

[2022-06-29 11:04] fmassot commented on #1208
We are working on this, we will share more details about the design soon :)

On the cluster formation, we already use [chitchat](https://github.com/quickwit-oss/chitchat) (based on anti-entropy gossip algorithm scuttlebutt). The good thing is that the gossip gives the metadata to get the indexer node states.

On the distribution of indexing, our goal is to have a control plane that distributes the

[2022-06-29 15:12] sunisdown commented on #1208
@fmassot  glad to know it. thanks for your reply.

Are you going to store the routing information in meta store and let the indexing task read the information from meta store?

[2022-06-29 17:38] kstaken commented on #1679
That PR definitely does improve the situation but we're still seeing intermittent OOMs. Clearly there will be a practical single node limit on searches but I wouldn't expect that to manifest when only retrieving a single record until processing a much larger number of splits. We currently have just over 2000 splits.

Queries will complete right after the node restarts and then some number of queri

[2022-06-29 21:53] kstaken commented on #1674
LOL, I'm jonesing for this ability. :-) Granted I only need it right now because the Kafka ingest is temporarily limited but to me it's an obvious thing that really should exist.

That said, I absolutely get what you're trying to accomplish with the current APIs and ease of use is clearly important but hopefully that can be achieved without gimping the system or encouraging bad practice from users

[2022-06-30 00:56] kstaken commented on #1679
This issue should be reopened.

Here's another graph from a little more controlled test. This started with a fresh node, ran 10 identical queries serially, paused for 2 minutes then attempted to run 10 more of the same query. It ran out of memory on the 5th query in the second batch. The pause was somewhere around 00:40 to about 00:42 and it seems memory usage did go down slightly in that period.

[2022-06-30 02:32] PSeitz commented on #1679
I did a small test on hdfs (4splits), and the memory profile was flat. The small spike is the query, which hits 6M results. Maybe it's related to a high number of splits.

![profile](https://user-images.githubusercontent.com/1109503/176580041-8e8dc4a5-dfdb-4854-9a88-8c0b9be11783.png)

[2022-06-30 03:18] sunisdown commented on #1150
Share my expectations for Quickwit's distributed storage.

- The distributed storage should serve both indexer and searcher nodes

1. for Indexer, can write data to the distributed storage more frequently, making the indexer closer to a realtime stream.
    the distributed storage can merge the split and publish the merged split to S3.
2. for searcher, can load the latest data from the distributed

[2022-06-30 03:32] PSeitz commented on #1679
I could reproduce a leak (800 splits hdfs), which seems to be coming from tracing. But the leak is a magnitude smaller.
![leak_k](https://user-images.githubusercontent.com/1109503/176586694-aa7843d9-3f8d-4ff7-ae90-be3879dbca8d.png)

![leak_stack](https://user-images.githubusercontent.com/1109503/176586865-0e3be65f-3f60-4748-9168-bff82937e3fe.png)

[2022-06-30 04:16] fulmicoton commented on #1679
@PSeitz  great job, that's probably it indeed. BTW I'm indexing 20B mini-docs on s3://quickwit-dev/oom.
Right now it has 513 splits.

[2022-06-30 05:54] leongshengmin opened #1689 "Search stream api errors out after field mapping change"
**Describe the bug**
After index mapping type change, search stream API errors out.
[code]

**Steps to reproduce (if applicable)**
Steps to reproduce the behavior:
1. update index field mapping e.g. change timestamp field from `u64` to `i64`
2. index more data
3. call search stream api from clickhouse.

**Expected behavior**
No error expected.

**Configuration:**
Please provide:
1. Output of `quic

[2022-06-30 06:06] fulmicoton commented on #1679
I have not been able to reproduce so far.
I tried with a 6 billion doc index, querying a term query that select 0.4% of the docs (uniform distirbution in the doc id space).
I resume indexing to go to 20 billions doc. That's on Amazon S3.
My resident memory never exceeds 700MB and does not show an obvious drift.

[2022-06-30 06:31] PSeitz commented on #1679
@kstaken Can you share your index config?

[2022-06-30 06:54] fulmicoton commented on #1679
@kstaken @PSeitz Your memory usage is virtual memory or resident memory?

[2022-06-30 07:12] fmassot commented on #1689
Hi @leongshengmin, thanks for the report.

The first major issue for you is that... Quickwit does not support yet changes in the doc mapping. If you change the mapping, you have to delete the index, create a new one and index data.

The second issue is that we currently don't support mixed types (u64, i64) for fast field and partition field as indicated in the log. This can be easily fixed. But wi

[2022-06-30 08:15] leongshengmin commented on #1689
hi @fmassot thanks for the quick reply, have confirmed that am still seeing the same error without specifying the `partition_by_field` query param

[2022-06-30 09:06] fmassot commented on #1689
Ok, this is super strange :/

Can you provide more logs from the searcher? I made a test and here is what I have without the `partition_by_field` query param:

[code]

I want to check particularly the first line where I can see that `partition_by_field` is `None`.

[2022-06-30 09:40] fmassot commented on #1689
Thanks... still weird. Can you please print logs with debug level? Just start a searcher like this:
`RUST_LOG=quickwit=debug ./quickwit run --service searcher`

[2022-06-30 09:47] fulmicoton commented on #1679
I tried to reproduce with Amazon S3 on the nightly build.

![plot](https://user-images.githubusercontent.com/1021506/176646615-ffb12a74-36fc-4a35-8ae7-d191acb78747.svg)

[2022-06-30 09:56] fulmicoton commented on #1679
Some details
1588 splits, ~16Billions docs.

I run in a loop a query matching 5% of the docs and returning only one document.

The query returns in <10s and matches 796,560,771 documents.

The one key difference is that because my docs are tiny, the hotcache is tiny too. I'll look into that.

[2022-06-30 10:24] fulmicoton commented on #1679
@kstaken Can you confirm you do not have a fast field, sorting, or start-end range being enforced? I don't quite grasp where the  28GB can be coming from.

[2022-06-30 10:41] leongshengmin commented on #1689
Sure,
Debug logs:
[code]

index config:
[code]

[2022-06-30 11:54] PSeitz opened #1690 "Rework docs fetching"
## Identified Potential Issues
#### Duplicate requests to the same data due to concurrently fetching blocks

#### One Searcher per Document
- Potentially excessive amount of searchers
- We never hit the docstore cache
- We cache all uncompressed data from fetching docs (e.g. 10_000 hits all in different blocks -> 1MB blocks -> 10GB)

#### Decompression running on tokio thread:
- 1MB Block -> Decom

[2022-06-30 12:16] fulmicoton commented on #1679
If there is a timestamp, by default we sort by timestamp... That probably explains why this is so slow and why it takes that much memory.

@kstaken. Can you try a lower value (2 times the number of threads on your CPU for instance) for max_num_concurrent_split_streams and let us know if the result look a little bit better?

We can probably a lot of small things to improve the situation
- report so

[2022-06-30 13:18] fmassot commented on #1208
Yes, the typical example is for a Kafka source: you may want to index the first 10 partitions on the first indexer, the next 10 on the second indexer etc. This will be defined in the source config that is saved in the metastore.

[2022-06-30 13:37] fulmicoton commented on #1690
Does decompression really works linearly or does it have a startup cost? A quick measurement would be nice (I have never coded one of those)

Also this is a no-op point, but we might want to advise Kimbro to use smaller block for its default.

[2022-06-30 13:39] fmassot commented on #1689
Ok, I open a PR to fix at least the error message. @leongshengmin if you need the string field, we can open an issue on it.

[2022-06-30 13:49] fulmicoton commented on #1689
@fmassot note that in their use case, `app_name` is probably low cardinality, so it is actually very reasonable. We might want to be a little bit smart and ship a dictionary with each leaf_search result.

[2022-06-30 14:05] fulmicoton opened #1693 "No `num_docs` optimization"
If num_docs is not required, there are many optimization we can run.

For instance, if we sort by docs we can often searhc on only one split and abort search within the split.\
If we search by -date too, we can sort splits by order of their max_date, and stop search as soon as we get a guarantee that no docs will enter the top K.

We can hardcode these optimization for the moment, and revisit this

[2022-06-30 14:07] PSeitz commented on #1690
lz4 doesn't have a startup cost, but zstd has some, since it creates decompression tables for huffman trees (up to 32kb) and sometimes for ans. It's probably neglibible, but we should test it.

[2022-06-30 15:15] fulmicoton commented on #1632
We get this error if a query parameter is wrong too!

[code]

[2022-06-30 15:20] fulmicoton opened #1694 "Make it possible to sort by doc in presence of a timestamp field"
Right now the search API makes it psosible to select the sort field.
If it is not there , the default is
- to sort by the timestamp field if any
- to return docs sorted by `(split, doc_id)` if there are not timestamp field.

Sorting by doc id is really lighter and can be useful  even in presence of a timestamp field.

We could keep the current default, but make it possible to explicitly sort by fi

[2022-06-30 19:46] kstaken commented on #1679
@fulmicoton unfortunately since we're testing with customer data I can't share the index config directly but it does have fast fields and a timestamp field.

The query that is being run is very simple `/api/v1/index/search?query=field:value&max_hits=1`and the field being searched is a raw text field.

The memory usage here is resident usage and is constrained by K8s memory limits on the pod. There

[2022-06-30 21:51] fmassot commented on #1666
True, thanks for reporting that.

I opened a PR here https://github.com/quickwit-oss/quickwit/pull/1696

[2022-06-30 23:54] kstaken commented on #1679
Here's a test with `max_num_concurrent_split_streams` set to 16 which is 2 x provisioned cores. In this case the queries started failing after 8 attempts but data size had increased to 30.5B records and 2,575 splits.

I also included the CPU graph as there's some questionable things there as well. In particular we never see usage beyond 4 cores when the pods have 8 cores available.

When CPU hits

[2022-07-01 00:21] fulmicoton commented on #1679
`max_num_concurrent_split_streams` has no impact on your query. Can you confirm you modified `max_num_concurrent_split_searchs`?

Extra disclaimer: it was called `max_num_concurrent_split_searchs` for a bit in the unmerged PR. If your binary wsa not built from main there, it could be `max_num_concurrent_split_searches`.
Also we used to not spot mispelled parameter and just ignore them. It was fixe

[2022-07-01 01:10] fulmicoton opened #1697 "Show quickwit config in the UI"
We need to have a place in the API showing the Quickwit COnfig as deserialized / reserialized by Quickwit.

It would help showing defaults and would a great place for people to check if the config was read correctly.
It is also something people could copy paste in their bug report.

[2022-07-01 01:35] fulmicoton opened #1698 "Log fetch range in debug."
Logging fetches would have been hefpul for #1679

[2022-07-01 01:38] fulmicoton opened #1699 "Expose more information on field-wise stats in split describe."
Knowning the number of bits taken per docs for a field in a givne split would have been helpful to debug #1679 .

Ideally we should put that in the UI, not in the CLI.

[2022-07-01 01:49] fulmicoton opened #1700 "document the fieldnorms option"
The referecne doc does not mention the fieldnorms option.

[2022-07-01 03:09] leongshengmin commented on #1689
I see, thanks all for the help. Have retried using a timestamp field and am able to get the result without errors.

[code]

For our use case, believe non string fields will suffice for now. Will open a new issue if such a requirement does arise.

[2022-07-01 05:13] sunisdown commented on #1208
It would be great if we have a control plane to schedule the indexing task.

just share my thoughts about the config
1. for large cluster,  we would like to make the indexer-cluster auto-scaling, like scaling out at peak hour, scale in at night. `Quickwit` should have some `automation` scheduler for the routing, like partition the log data by range or hash, scheduler can route the log data to inde

[2022-07-01 08:45] fmassot commented on #1697
3 remarks:
- when serializing, we should not leak the metastore password.
- quickwit config is a node config. We could show the current node config by default and let the user choose another node if he wants to
- showing quickwit version on the UI will be very helpful too. But again, quickwit version can be different on each node... This makes me think that we could add the version in the node sta

[2022-07-01 12:24] fulmicoton commented on #1679
I think I understand the discrepancy... The culprit is.... malloc.

I created a 1180 splits index with a timestamp field. The timestamp field is heavily compressed. (second resoltuion, and it assumes events spreading over a few days and documents that are sorted).

I am searching and sorting by the timestamp field. Single term query of 5%.
I pause 2 seconds after each search to spot if we properly

[2022-07-01 12:51] fmassot commented on #1632
Yes, the way warp handles rejection does not help us here. What we want is:
- try to match a route with an URI + method
- if it matches, validates query parameters and/or payload and on error return an appropriate response
- if it does not match, find another route

Today using rejection leads to ugly code (see `recover_fn` function) and it would be nice to clean that.

I saw two interesting threa

[2022-07-01 13:09] laurids-reichardt opened #1703 "Tutorial “Index a logging dataset locally” is missing attribute “tenant_id” inside example log snippet"
While working through the “Index a logging dataset locally” tutorial (https://quickwit.io/tutorials/tutorial-hdfs-logs/), I noticed a small omission: The example snippet for the log entry is missing the “tenant_id” attribute.

Here's how the first entry of the dataset looks like:
[code]

I'll create a quick PR.

[2022-07-01 13:10] laurids-reichardt opened #1704 "Tutorial “Index a logging dataset locally” is missing attribute “tenant_id” inside example log snippet"
While working through the “Index a logging dataset locally” tutorial (https://quickwit.io/tutorials/tutorial-hdfs-logs/), I noticed a small omission: The example snippet for the log entry is missing the “tenant_id” attribute.

Here's how the first entry of the dataset looks like:
[code]

I'll create a quick PR.

[2022-07-01 13:11] laurids-reichardt commented on #1704
Sorry! Clicked on submit twice while creating the issue!

[2022-07-01 13:11] #1704 closed

[2022-07-01 13:31] sunisdown commented on #1632
Totally agree.  It seems that the error returned by `serde_qs` can't be handled by warp.

[2022-07-01 14:26] fmassot commented on #1703
Closed by #1705

[2022-07-01 14:26] #1703 closed

[2022-07-01 15:36] fulmicoton commented on #1679
@kstaken jmalloc is now in main. If you have time, can you confirm that it solves your problem?

[2022-07-01 16:29] kstaken commented on #1679
Nice find. We'll do a new build and test it today.

[2022-07-01 17:23] fmassot commented on #1697
Here are the endpoints that we can expose under `/cluster` path:

- `/api/v1/cluster/state` returns the cluster state (serialization of chichat cluster state)

- `/api/v1/config` returns the node config
[code]

- `/api/v1/info` returns general info about the running binary: quickwit version, commit hash
[code]

[2022-07-01 19:14] kstaken commented on #1679
Some good news, some bad.

Memory usage looks much more sane now and aligns with what we would expect for the cache settings in use. That's a big win! 👍

The bad news is that query times are 69-72 seconds with no evidence of caching making any difference. Previously the first query would be in the 60 second range but subsequent queries dropped to around 30 seconds.

We also tried doubling the cach

[2022-07-02 00:11] kstaken commented on #1625
Something else that could be considered here is that it should be possible to use the existing Kafka Consumer group logic without storing the offsets in Kafka. This will allow the usage of the group and rebalancing logic that already exists but you simply never call commit on the consumer it self.

For this to work and maintain `exactly-once` semantics you have to hook the rebalance events on the

[2022-07-02 22:44] fmassot commented on #1697
I'm not sure what you mean by "showing the Quickwit COnfig as deserialized / reserialized by Quickwit". What I understand is that we need to show QuickwitConfig values in use, we need to be careful to show the default values if some variables were set in the yaml file instead of showing "null".

What do you mean by "deserialized/reserialized"? I'm just going to serialize the config with the right

[2022-07-04 00:29] fulmicoton opened #1712 "Add support for bm25"
- probably rename the sort_by_field option
- find a spec to describe sort by_field, but also sort by doc id and bm25 / desc and asc
- implement and plug bm25. (it requires adding fieldnorms to the warmup when it is enabled)

[2022-07-04 00:31] fulmicoton commented on #1697
That's what I meant. I just wanted to say we don't want to show the configuration as typed by the user.
We want the configuration interpreted by quickwit (with default values etc = deserialized) that is then reserialized.

[2022-07-04 00:32] fulmicoton commented on #1679
@kstaken Closing this ticket and opening another one.

[2022-07-04 00:32] #1679 closed

[2022-07-04 00:40] fulmicoton opened #1713 "RAYON_NUM_THREADS affects the size of our search thread pool"

[2022-07-04 00:46] fulmicoton opened #1714 "A better fastfield / split footer cache policy"
The current cache is using an LRU policy.

For very large queries involving more data than can fit in the cache this is a catastrophy, as it hits the LRU cache worst case sscenario and the cache hit rate will be 0%.

[2022-07-04 00:50] fulmicoton opened #1715 "CPU never reaching 100%"
Quoting @kstaken in #1679

For the caching part, I opened the ticket. We use an LRU cache, and your use case is the worst case scenario for an LRU policy.
I noticed that last week. I just created a ticket #1714.

---

Once the data is downloaded, the computation is executed in a thread pool size. The thread pool is a wrapper around a rayon thread pool. with the same number of threads as the number

[2022-07-04 02:47] fulmicoton commented on #1674
Agreed! But I will still have to reply your message to make sure I don't look like a fool :)

I was talking about the per-shard transaction log. It is replicated on each replica.

It is not a commit in the normal database sense of the word, but it triggers a (soft)commit in Lucene/Tantivy.
Quickwit and Elastic want to make PushAPI calls durable while respecting the need for search building to be b

[2022-07-04 02:56] fulmicoton opened #1716 "Update tantivy version, test slop queries and document them"
https://github.com/quickwit-oss/tantivy/pull/1393 add slop query support in tantivy.

It is requested by a company. We need to update tantivy, make sure that this is sufficient to support them in quickwit, and document the change (changelog + doc)

[2022-07-04 03:41] sunisdown commented on #1674
"The data is written to disk" <- that statement itself would deserve its own discussion.

That would be great that if quickwit has a `PUSH API` closer to a kafka, which can help improve the write throughput.

That's the reason why I raise this API, I believe that Quickwit should **provide an endpoint which is `ACID` supported.**  At the moment I feel that the  `replication push API` only satisfies

[2022-07-04 04:27] fulmicoton commented on #1661
Should we push that to 0.3.2? Is it blocking?

[2022-07-04 07:41] guilload commented on #1661
The PR is in good shape, and I need to comment on the code profusely, document the public functions, and update the docs.

[2022-07-05 09:40] #1632 closed

[2022-07-05 10:50] #1667 closed

[2022-07-05 21:15] kstaken commented on #1715
We've experimented with increasing `max_num_concurrent_split_searches` with no obvious change in utilization. We tried `64` and `128`.

Last week we had also been experimenting with `RAYON_NUM_THREADS` and it seemed to make no difference either. The default for that in our env should be `8` and we tested increasing it to `24` with no impact.

The last test we ran was with `max_num_concurrent_split

[2022-07-06 02:33] fulmicoton commented on #1715
I think we can consider a) and b).

c) d) are unlikely but I cannot rule them out straight away without seeing high resolution (as in over rather short window of 3s or so) throughput figures.

[2022-07-06 03:06] fulmicoton opened #1725 "Add precision to datetime field, datetime field internally expressed in microsecs."
@evanxg852000 can you edit this ticket with your plans?

[2022-07-06 03:09] fulmicoton commented on #1725
closing... this was meant to be in tantivy.

[2022-07-06 07:41] fulmicoton opened #1727 "Export tokio-metrics in prometheus"
https://crates.io/crates/tokio-metrics

[2022-07-07 00:32] fulmicoton opened #1735 "Improve Cache logic"
Right now we use a simple LRU logic with a minor sophistication introduced in https://github.com/quickwit-oss/quickwit/pull/1732, we do not evince items that are too fresh.

Time here is used as an approximate proxy for the following logic:
If two items were requested in the context of the same request, it does not make sense to evince the first one in order to store the second one.
In fact, it is

[2022-07-07 00:34] #1714 closed

[2022-07-07 03:06] lingo-xp opened #1737 "Does it support chinese tokenizer or custom tokenizer?"
**Describe the solution you'd like**
Is there any plan to support chinese tokenizer?  I just check the document , but find it doesnt support it now. Maybe we can supprt custom tokenizer as plugin, Just like what did in ES.

[2022-07-07 06:17] fulmicoton commented on #1737
We don't have any plugins at the moment, but a company already requested  different language tokenizers so we can probably add chinese too.

I however cannot speak Chinese.
Do you know a good chinese tokenizer in rust?

tantivy already supports  jieba-rs (via https://github.com/DCjanus/cang-jie) and Lindera (https://github.com/lindera-morphology/lindera-tantivy)

[2022-07-07 09:48] #1697 closed

[2022-07-08 05:30] fmassot commented on #1636
Is it done?

[2022-07-08 05:33] fmassot commented on #1689
Closed by #1691

[2022-07-08 05:33] #1689 closed

[2022-07-08 06:09] sunisdown opened #1740 "Support data transformation in quickwit for `queue` sources"
**Is your feature request related to a problem? Please describe.**
The data in kafka(or some sources else) has it's format, but maybe the format is not supported by Quickwit. before we consume the data with quickwit, we need to transform the data and fit it into quickwit format

**Describe the solution you'd like**
We can add a transform layer in quickwit, and consume the predefined format and tra

[2022-07-08 07:51] boraarslan commented on #1636
Not yet, I will look into it very soon.

[2022-07-08 08:28] guilload opened #1742 "Separate parsing, validation, and transformation logic of config objects"
- We want to manipulate fully resolved and validated configuration objects without accessors.
- We want to know the source of the values (config file, CLI, env var)

It might be worth looking into good crates that could help us here.

See this [comment](https://github.com/quickwit-oss/quickwit/pull/1688/files#r916543980) for additional context.

[2022-07-08 09:17] #1661 closed

[2022-07-08 22:49] fmassot opened #1744 "Avoid fetching timestamp fast field when there is no sorting on this field nor filtering"

[2022-07-08 23:28] kstaken commented on #1744
As an addendum to this, the system should also only load fast fields when absolutely needed. I believe currently they are fetched in a `warmer` process before the data selection occurs but on large scale queries, where many splits will produce no results, that will result in fetching a large amount of unneeded data and kill the effectiveness of the fast field cache.

The same also applies if a spl

[2022-07-09 00:00] fmassot opened #1746 "Avoid reading min/max fastfield values to check if we really need to filter on fast field values"
We are reading fast field min/max to check if we need a timestamp filter in the collector. This operation requires prefetching the fast field file while we can already have this information from the split metadata and take the decision early not to prefetch the fast field file.

https://github.com/quickwit-oss/quickwit/blob/main/quickwit-search/src/filters.rs#L35

[2022-07-09 00:04] fmassot commented on #1694
Can't find the piece of code where we sort by timestamp by default. I checked by searching on 2 splits generated by the hdfs logs dataset with no sorting and saw unsorted results.

[2022-07-09 00:04] #1694 closed

[2022-07-09 13:23] fmassot commented on #1746
Closing this issue as we already prune split and so we don't need to do extra stuff on the leaf search, #1744 already describes what we should do when there is no timestamp filtering.

[2022-07-09 13:23] #1746 closed

[2022-07-09 14:59] fmassot commented on #1744
True. When #1745 will be merged, we will prefetch the timestamp fast field only if we need to filter values. NB: we are already pruning splits that have no overlap between the requested time range and the split time range, in this case, no prefetch is done.

This may be hard to do as we don't know in advanced the result. We plan to work on fast fields codecs as we know to be more efficient (for sp

[2022-07-09 15:44] fmassot opened #1747 "Can't compile quickwit on macos or any OS different from linux and android"
**Description**

We are using the `NetworkInterface` method `is_dormant` from the crate [pnet_datalink](https://github.com/libpnet/libpnet) but it's only available for Linux and android.

[code]

https://github.com/libpnet/libpnet/blob/master/pnet_datalink/src/lib.rs#L274-L279

[2022-07-10 03:12] PSeitz commented on #588
With the larger blocksize, the skip index is much smaller.  There are no major gains by changing the format
random HDFS split
[code]

[2022-07-11 02:23] fulmicoton opened #1748 "Avoid filter when the entire split is within the timestamp bounds"
If we search for `[ta, tb)` and the split meta informs us that the split's timestamp are within the  `[tA..tB]` range,
with  `[tA..tB] ⊆[ta, tb)`  there is no need to do any filtering.

This issue is not entirely straightforward, because the split meta are not passed in the leaf requests.

One possibility might be to get the meta from the fast field and make sure those metadata are added into the

[2022-07-11 02:25] fulmicoton commented on #1748
@fmassot following your PR. I think I misunderstood one of your comment, and said otherwise. Apologies if you already created a similar ticket.

[2022-07-11 02:52] fulmicoton opened #1749 "Avoid warmup of timestamp field if timestamp filtering is not required in searhc stream as well"
That's the same as #1744 and #1748 but for search stream

[2022-07-11 02:55] fulmicoton opened #1750 "Refactor search / search stream"
We have several issues.

Right now the search stream logic is needlessly convoluted.
Also see #1744 #1745 #1749.

A lot of the logic is redundant.

One final key problem is that the logic we use to detect whether fast field are useful or not happens without fast field meta information.

[2022-07-11 03:35] fulmicoton opened #1751 "Avoid warming up both the default sort and the request sort"
Right now both the default sort field  and the request specified sort field are warmed up.

[2022-07-11 09:38] fmassot opened #1754 "Support Azure for storage"
We can have a look at what databend here https://github.com/datafuselabs/opendal

We need to check the latency on typical search queries.

[2022-07-11 22:47] laurids-reichardt opened #1757 "If a S3 compatible endpoint is defined, parsing the region from the `QW_S3_ENDPOINT` takes precedent to reading from `AWS_REGION` environment variable."
**Describe the bug**
If a S3 compatible endpoint is defined, parsing the region from the `QW_S3_ENDPOINT` takes precedent to reading from `AWS_REGION` environment variable. As discussed on discord and according to the Quickwit doc, this should work the other way around: [https://quickwit.io/docs/reference/storage-uri#region](https://quickwit.io/docs/reference/storage-uri#region)

This currently bl

[2022-07-12 01:10] fulmicoton commented on #1747
@guilload can you cook a quick workaround for macos? A lot of dev use mac nowadays.

[2022-07-12 01:27] fulmicoton commented on #1747
Actually I opened a PR. @fmassot can you confirm it fixes the build?

[2022-07-12 03:50] fulmicoton opened #1761 "Add an SSD cache"
Right now, Quickwit only long term caches are:
- a cache use to store split footer (which contains the so-called hotcache)
- a cache to cache fast field data (a column-oriented representation of a field)

Both are extremely good candidate for caching as the same piece of data is often accessed for different queries.
Right now those caches are in RAM only.

For fast field this is quite a problem, a

[2022-07-12 07:22] #1751 closed

[2022-07-12 17:05] guilload opened #1764 "Replace splits should ensure that all the replaced splits are in published state"
Currently, a race condition exists where the data carried by a split can magically reappear if a split is deleted while being merged.

[2022-07-12 23:39] fmassot commented on #1747
Fixed by #1765

[2022-07-12 23:39] #1747 closed

[2022-07-12 23:47] fmassot opened #1766 "Run CI on macOS"
We need to prevent compilation/test errors on macOS as there are many users on this platform.

[2022-07-13 02:51] fulmicoton commented on #1766
Let's put that in the "after merge" CI.

[2022-07-13 03:54] fulmicoton commented on #588
I guess we can close the ticket then.

[2022-07-13 03:54] #588 closed

[2022-07-13 22:30] kstaken commented on #1669
The approach I describe here https://github.com/quickwit-oss/quickwit/issues/1625#issuecomment-1172793001 would cover the goals of this ticket while still preserving `exactly-once` semantics for Postgres backed metastores and `at-least-once` semantics for Object Store backed metastores so this shouldn't be needed.

[2022-07-13 22:30] #1669 closed

[2022-07-13 23:34] fulmicoton commented on #1625
The best is to return an anyhow::Error, the framework will kill the other actor for you and log properly

[2022-07-14 15:10] guilload opened #1772 "Exclude immature splits from merge candidates when the retention cutoff is close"

[2022-07-14 15:18] guilload opened #1773 "Janitor service"
The janitor service launches and supervises maintenance components that handle deletes, GC, and retention. In cluster mode, the janitor must run on at most one node.

[2022-07-14 15:19] guilload opened #1774 "Refactor GC to operate on multiple indexes and move to janitor service"

[2022-07-15 07:31] fulmicoton opened #1775 "Document that make and cmake are required to build"
(due to jemalloc)

on ubuntu
`sudo apt install clang make cmake pkg-config libssl-dev`

[2022-07-15 08:38] fulmicoton opened #1776 "Creating an index should require to be able to build the `Storage` object"
This is not specific to azure.

Generally speaking creating an index does not require creating the storage.
On the other hand, removing (because of the hypothetical removal of splits) an index
require the creation of splits.

Therefore, if the storage uri is invalid for instance, quickwit will accept the creation of the
index, and its removal from the metastore will be impossible.

[2022-07-15 09:29] #1690 closed

[2022-07-16 01:20] laurids-reichardt opened #1777 "Search requests with high `max_hits` (> ~100) causes fetch error with indexes stored on Cloudflare R2."
**Describe the bug**
Search requests with high `max_hits` (> ~100) causes fetch errors with indexes stored on Cloudflare R2.

This is likely because Quickwit goes over the Cloudflare R2 limit of 1000 `GetObject` requests per second: [https://developers.cloudflare.com/r2/platform/limits/#account-plan-limits](https://developers.cloudflare.com/r2/platform/limits/#account-plan-limits)

As discussed on

[2022-07-16 01:47] laurids-reichardt commented on #1777
Just compiled the latest main branch, including this PR: [https://github.com/quickwit-oss/quickwit/pull/1717](https://github.com/quickwit-oss/quickwit/pull/1717)

Doesn't solve the issue in this case, but the error message changes to the following:

[code]

[2022-07-18 01:36] fulmicoton commented on #1625
@guilload is that in your radar?

[2022-07-18 06:50] fulmicoton opened #1778 "Pipeline does not halt upon end of source anymore"
For instance using `cat file.json | quickwit index ingest...`, the source/index/packager halt properly, but the other actor do not stop.

[2022-07-18 09:14] fulmicoton commented on #1778
The cause is that we increased the Actor timeout recently to 10s. The message timeout thing happens as a fraction of that heartbeat.

The observe message still come every 1s, so we actually never have a timeout on get_message.

We only test whether this is the last mailbox when we don't have anymore message.

[2022-07-18 12:45] fmassot opened #1780 "Add tracked metrics by quickwit in the documentation"

[2022-07-18 16:20] guilload commented on #1625
Yes, I'm keeping an eye on this. I want to complete my ongoing work on k8s and retention before.

[2022-07-18 16:42] kstaken commented on #1625
I've started looking at integrating this. I think I have it mostly mapped out but we'll see how far I get.

[2022-07-20 01:15] zkas opened #1783 "id"
## My tutorial idea

Use this section to give a description of what your tutorial is about.

Examples:

Are there any particular tools, concepts, languages or platforms that readers
will learn about?

**What do you all think?**
👍 I would love to see it!
🚀 I would love to help!

Thank you for your request!

[2022-07-20 01:15] #1783 closed

[2022-07-21 06:53] sunisdown commented on #1625
In a correctly functioning system this should be very rare

just curious how could quickwit handle this condition?  how did the indexing pipeline know there's an assignment change on the partition? Pass the `change` message to pipeline? then let actors monitor the `change` message, if the partition is reassigned, then return a `anyhow::Error`? @kstaken do you have any idea?

[2022-07-21 16:34] kstaken commented on #1625
I'll most likely use a messaging channel between the rebalance callback and the kafka actor.

[2022-07-22 03:04] #1764 closed

[2022-07-23 11:39] fmassot commented on #1754
closed by #1769

[2022-07-23 11:40] fmassot commented on #1757
Closed by #1758

[2022-07-23 11:40] #1757 closed

[2022-07-23 11:40] #1754 closed

[2022-07-23 11:46] fmassot commented on #1744
Partly closed by #1749

Issue #1748 is tracking another optimization that we can make.

Closing.

[2022-07-23 11:46] #1744 closed

[2022-07-23 11:49] fmassot commented on #1750
I think this can be closed thanks to #1752 or did you have more in mind @fulmicoton ?

[2022-07-23 11:55] fmassot commented on #1636
@boraarslan : @maximkpa can take over this issue.

[2022-07-24 07:55] fulmicoton commented on #1750
Yes I think we can have a deeper look at this. The current code is still very redundant / not very good...

(I added #1693 to the ticket to the list of ticket to consider )

[2022-07-25 01:56] #1778 closed

[2022-07-25 02:57] fulmicoton opened #1789 "Add support for snippetting."
Tantivy offers a way to return a sample of the documents that contains some passage containiing the matched keywords.

It would be nice to add this feature to quickwit's API.

[2022-07-25 08:23] fulmicoton opened #1793 "Merge policy with constant write amplification"
The current merge policy attempts to merge splits spanning over contiguous window of time, with the same size, in groups of 10, to reach a given target size of 10 millions documents.

If we enable tag partitioning, we will end up creating small splits.

As a simple solution, we can add a configurable option to limit the number of merge a split can undergo. On a stable indexing throughput, this wou

[2022-07-25 08:46] fulmicoton opened #1794 "Add support for kafka indexing with consumer groups and exactly-once semantics"
As suggested by @kstaken in #1625

[code]

Also `https://github.com/kstaken/qw-kafka-test`

[2022-07-25 08:56] fulmicoton commented on #1625
I created a specific ticket for your solution @kstaken

[2022-07-25 09:08] fulmicoton commented on #1794
Assigned to @guilload...

From offline discussion with Kimbro:
Kafka can be configured to only trigger the rebalance stuff on the affected nodes/partition, and wait for rebalance hooks to terminate on all targetted nodes.

We of course still need a neat solution to prevent splits going through the pipeline to NOT be published in order to observe exactly once.
We cannot use our traditional kill the

[2022-07-25 09:21] fulmicoton opened #1795 "Merge siloes and filtering"
This ticket is actually about two similar problems:

# Merge filtering.

Right now a MergePlanner is instantiated for each index pipeline.
It is initialized withthe list of existing splits as given by the metastore and updates itself with the newly created splits.

If several pipeline targetting the same index exist on the same node, or if on several nodes, merge planner will
spawn conflicting mer

[2022-07-25 09:28] fulmicoton opened #1796 "Index partitioning"
We want the indexer to be able to produce more splits, with a better selectivity for tag pruning.
That routing logic would be configurable using a simple DSL

partiton_field: <partition_expr>

[code]

[2022-07-25 12:25] fmassot commented on #1495
Closed by #1708

[2022-07-25 12:25] #1495 closed

[2022-07-25 12:32] fmassot opened #1797 "Implement an IndexManagementService to centralize CRUD operations on indexes"
## Notes
- Add the `IndexManagementService` in `quickwit-index-management` new project.
- Implement the gRPC client so that other nodes can make gRPC calls for CRUD index operations.
- Move the garbage collect to the `IndexManagementService`
- Add garbage collection of local splits (`IndexingSplitStore`).
- Start the service on the `ControlPlane` node.
- (optional) Add REST API available on the Co

[2022-07-27 03:14] fulmicoton opened #1799 "Add cargo udeps to CI?"
Right now `uuid` is present yet unused in many Cargo.toml of our subproject.

clippy does not seem to catch unused deps.

cargo udeps does. We should add it (or any other tool detecting unused dependencies)
to our CI.

[2022-07-27 04:24] fulmicoton commented on #1799
closing as probably overkill.

[2022-07-27 04:24] #1799 closed

[2022-07-27 15:04] fmassot opened #1803 "Refactor garbage collection with the new janitor service coming"
## Current situation
Garbage collection is runned on a indexer for each pipeline. The garbage collection of splits is intertwined with the `IndexingSplitStore`. This store is keeping splits locally for merge purposes but currently the removal of these splits is done by the garbage collector.

## Issues
This is bad for several reasons:
- we should do it by index as mentioned in #1572.
- this does n

[2022-07-27 15:16] fmassot commented on #1774
Closing as duplicates of #1803

[2022-07-27 15:16] #1774 closed

[2022-07-27 17:56] kstaken commented on #1794
Something that I had added in the metastore checkpoint table schema that I backed out of #1798 was a per partition serial number.

The idea was that as soon as a rebalance was triggered the serial number would be bumped on the new partitions assigned to the node. Then as a last guard, any node that had splits in flight would include the current serial number for all partitions in the update to the

[2022-07-27 19:53] fmassot opened #1804 "Suspicious unwraps in `members_grpc_addresses_for_service`"
Viewed in the cluster implem:

- ~~https://github.com/quickwit-oss/quickwit/blob/main/quickwit-cluster/src/cluster.rs#L257-L258~~ (false alert thanks @guilload)
- https://github.com/quickwit-oss/quickwit/blob/main/quickwit-cluster/src/cluster.rs#L243-L245

I would remove them, or if there are ok (but I'm not convinced at all) this would need some comments.

[2022-07-27 20:11] fmassot opened #1805 "Continue watching for new members in the search client pool if an error can arise"
In the search pool client, we update the pool with new cluster clients in a tokio task.

An error can happen in the task, and the update will stop. We should probably log the error and continue to watch the members channel.

https://github.com/quickwit-oss/quickwit/blob/main/quickwit-search/src/search_client_pool.rs#L181-L183

[2022-07-28 03:58] yangshike opened #1808 "Install File Download Faild and glibc 2.17 not support"
1. install faild ( instal llink)
#curl -L https://install.quickwit.io | sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   134  100   134    0     0    125      0  0:00:01  0:00:01 --:--:--   126
100 15266  100 15266    0     0   5537      0  0:00:02  0:00:02 --:--:-- 22156

[2022-07-28 05:31] fulmicoton commented on #1808
@evanxg852000 Our install script does refer to the musl build but we seem to not create such binaries.

@yangshike I'm afraid you will have to build quickwit on your own.
You willl need to clone quickwit and run
[code]

On ubuntu I think you will need the following dependencies
[code]

[2022-07-28 13:30] evanxg852000 commented on #1777
Trying to reproduce this on Cloudflare with the hdfs dateset without success.
- search?query=severity_text:ERROR  with 260 hits was ok
- search?query=severity_text:INFO  with 2716636 hits was ok

[code]

@laurids-reichardt  it seems you are using an open dataset, can you please drop the link?

[2022-07-28 15:02] evanxg852000 commented on #1777
Trying to reproduce this on Cloudflare with the hdfs dataset without success.
- `/search?query=severity_text:ERROR&max_hits=3000`  with `260` num_hits runs fine
- `/search?query=severity_text:INFO&max_hits=3000`  with `2716636` num_hits runs fine

[code]

@laurids-reichardt  it seems you are using an open dataset, can you please drop the link?

[2022-07-28 18:04] #1328 closed

[2022-07-29 01:54] yangshike commented on #1808
Thank you very much!
Unfortunately, I use CentOS
i install llvm/clang/cmake from source code，Finally, it failed！！！

#cargo build --release --features release-feature-set
...
...
error: failed to run custom build command for `librocksdb-sys v0.6.1+6.28.2`

Caused by:
  process didn't exit successfully: `/usr/local/quickwit-0.3.1/target/release/build/librocksdb-sys-1762e0184363836a/build-script-buil

[2022-07-29 07:51] evanxg852000 commented on #1808
@fulmicoton I will the appropriate error message since don't provide musl for the time being.
@yangshike It's exactly because of RocksDB build issue we stopped making musl builds for the time being. We will give another, hopefully, the tooling (cross) now has good support for it or at a workaround. With the appropriate libraries, you should be able to solve the header issue but you end up with a l

[2022-07-29 09:25] fulmicoton commented on #1808
GLIBC 2.17 is 10 years old. I'm afraid we won't be able to support your OS @yangshike .

[2022-07-29 09:45] fulmicoton opened #1814 "Improve the routing key DSL"

[2022-07-29 12:01] laurids-reichardt commented on #1777
@evanxg852000 Yes, here are the steps to reproduce a similar setup:

[code]

Index config:
[code]

My original setup included the base36 to i64 converted comment_id (name), of the above-mentioned dataset, as another fast field.
[code]
It's a bit more involved to get this value inside the index, as it depends on clickhouse-local for preprocessing. If you believe this to be relevant, I'm happy to pr

[2022-07-29 13:49] evanxg852000 commented on #1636
@boraarslan @maximkpa  there was an overlap with https://github.com/quickwit-oss/quickwit/issues/1521

[2022-07-29 14:04] #1521 closed

[2022-07-29 16:45] evanxg852000 commented on #1789
I would go with
- Rest: `https://quickwit-host/api/v1/hdfs/search?query=body:foo&snippet_field=body`
- Cli: .quickwit index search --query "body:foo"  --snippet_field body

The following checks need to happen during search:
- does snippet_field appear in the query or part of the default search fields?
- is snippet_field of field type that supports snippeting (text,..)
- Serialise the snippet

[2022-07-29 18:33] guilload commented on #1814
You mentioned supporting something like `(hash(fields) mod n)` in another issue.  This feature is usually called bucketing and is often implemented outside of partitioning (Hive, Spark, ...). I don't think we have to support this now. I'd be happy with simply supporting multiple fields as a partition key.

[2022-07-29 19:03] guilload opened #1816 "Fix musl build and re-publish musl binaries"
Not saying this is easy but there's gotta be a way :)

[2022-07-29 19:56] evanxg852000 opened #1817 "Search filtering does not take into account new Datetime type"
Filtering on the timestamp field with Datetime type does not work.

[2022-07-29 22:27] #1808 closed

[2022-08-01 06:02] fulmicoton commented on #1816
I suspect we will ditch rocksdb before this happens :)

[2022-08-01 06:18] fulmicoton commented on #1795
Assigning to @guilload as I'm going in holiday and this might be blocking.

[2022-08-02 13:14] ddorian commented on #1761
Facebook has a comprehensive cache in c++ for many scenarios https://github.com/facebook/CacheLib

[2022-08-02 22:43] machete-michael opened #1829 "Dynamic Mapping should not tokenize values"
I’m using dynamic mapping to ingest a JSON object with a field of an array of JSON objects. If the array element has a field with value that has -, _, #, etc. delimiters in it, e.g. a uuid, querying against this field will result in the error:

“SplitSearchError { error: \”Invalid query: The field ‘_dynamic’ does not have positions indexed\”…}”

**Steps to reproduce (if applicable)**
Steps to repr

[2022-08-02 23:22] fmassot commented on #1829
Thanks @machete-michael for the report.

More info on this issue.

Here is a request made on a default dynamic mapping (see docs example) that shows the same error:

[code]

Without the `-` character, everything works well. Somehow, adding `-` is triggering a phrase query. But the cause can come from something totally different (like something happening in tantivy `generate_literals_for_json_objec

[2022-08-03 01:23] machete-michael opened #1830 "Support for U256 and I256 field types"
**Is your feature request related to a problem? Please describe.**
I am dealing with cryptocurrencies and need support for UInt256. Without this support, I can’t even ingest JSON with values larger than U/I64.

**Describe the solution you'd like**
Support for U/I256 integer types

**Describe alternatives you've considered**
I tried ingesting values as text but that resulted in an ingestion error b

[2022-08-03 10:02] PSeitz commented on #1830
If you ingest it as text, you need to quote it. JSON doesn't have 256 bit numbers.

[2022-08-03 10:10] machete-michael commented on #1830
Would it be possible for the system to cast the values to string instead of requiring users to modify all their data to use Quickwit?

Sent from my phone

[2022-08-03 10:24] PSeitz commented on #1830
If you put u256 as a JSON number and not as text, you are probably doing something wrong. There is barely any support for u256 in general.

[2022-08-03 13:13] fmassot commented on #1830
@machete-michael: can you give us an example of a document you are trying to ingest?

[2022-08-03 16:14] machete-michael commented on #1830
Hi François,

Thank you for reaching out but please go ahead and close the ticket.

I deal with systems that handle UInt256 and I’ll simply process these values in those systems and not involve Quickwit.

You could also easily come up with a test JSON with a value that is greater than what’s supported by U/I64 to replicate this problem.

Cheers,
Michael

[2022-08-03 21:30] fmassot commented on #1830
No pb, but maybe you saw a bug that I cannot reproduce.

Let me explain you what I did to reproduce:

1. Create an index with dynamic mapping
2. Insert 2 documents with a huge integer either set as int or string:
[code]

With that, I tried a few queries and saw a few things

Query on float is broken
[code]

I cannot do a query on the exact string "Cherry Pi" as it is immediately considered as a ph

[2022-08-04 09:23] PSeitz commented on #1830
I had a look on the JSON spec. While it does not limit the number range per se, it does discourage large number ranges for interoperability reasons.

https://datatracker.ietf.org/doc/html/rfc7159#section-6

[2022-08-04 10:47] #1830 closed

[2022-08-05 07:47] sophie-jeong opened #1831 "Installation Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce (if applicable)**
Steps to reproduce the behavior:

1.While installing, I encountered the following error:
I am using centos7.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Configuration:**
Please provide:

1. Output of `quickwit --version`
# ./quickwit --versi

[2022-08-05 09:40] zamazan4ik opened #1832 "Document upgrade and downgrade processes"
Hi.

After reading the documentation it is not clear for me, how upgrade and downgrade processes should be performed over Quickwit. Could you please describe somewhere in the documentation:

- How to upgrade Quickwit to the newer version (hopefully with no downtime)
- How to downgrade Quickwit to the older version (hopefully with no downtime)
- Maybe some compatibility policies and notes between v

[2022-08-08 15:33] #1817 closed

[2022-08-08 21:23] #1011 closed

[2022-08-09 08:25] guidao opened #1839 "Failed to open metastore: "Connection reset by peer""
**Describe the bug**
## quickwit/quickwit:edge cannot connect to postgresql properly.
[code]

## quickwit/quickwit:latest work fine.
[code]

**Steps to reproduce (if applicable)**

1. `docker run -it -v `pwd`:"/quickwit/qwdata" -e AWS_ACCESS_KEY_ID=xxx  -e AWS_SECRET_ACCESS_KEY=xxxx -e QW_CONFIG=qwdata/node.yaml -e QW_S3_ENDPOINT=xxxx --entrypoint quickwit quickwit/quickwit:edge run --service sear

[2022-08-11 09:03] #1509 closed

[2022-08-11 13:08] guilload opened #1844 "Text fieldnorms option is not propagated to tantivy"
The option is basically ignored and fieldnorms are always generated. With a log management and analytics use case in mind, the default should be false.

[2022-08-12 10:08] yangcancai commented on #1831
The same crash for me:

[code]

[2022-08-12 11:07] #1776 closed

[2022-08-12 11:39] guilload commented on #1831
@sophie-jeong, thanks for the report. Can you tell me the version of glibc your OS is running?

@yangcancai, same question, which OS and version of glibc are you running?

[2022-08-13 11:06] #1712 closed

[2022-08-14 14:02] #1839 closed

[2022-08-15 09:22] boraarslan opened #1851 "Show BM25 scores of docs on search response when they are sorted by their score"
We want to see calculated BM25 results when the docs are sorted by their score. It possibly requires the internal gRPC API to be changed.

[2022-08-17 09:35] geek-frio opened #1856 "Does quickwit support "Multiple indexers" deployment currently?"
Does quickwit support "Multiple indexers" deployment currently?

[2022-08-17 11:46] fmassot commented on #1856
Hi @geek-frio
Indeed distributed indexing is not yet available.

But we are working on this:
- There is an issue to have distributed indexing working with Kafka #1794. This should be available before the end of the month.
- We are also working on the implementation of the control plane that will assign indexers indexing task, hopefully it will be ready in the coming months.

Are you working with K

[2022-08-17 15:55] #1844 closed

[2022-08-18 02:03] geek-frio commented on #1856
@fmassot
Thanks for reply! I'm not using distributed queues currently.My server is a central tracing service which provides grpc service to tracing collector, so the tracing collector will send tracing grpc request to the service directly. After getting the request, I batch the request and store in the ElasticSearch. Currently my service max qps will be 30000 qps, and data size is about 1T one day

[2022-08-18 09:09] geek-frio opened #1859 "[desgin consult problem] Is quickwit's performace is influenced by the coming indexing data sequence?"
After have read the quickwit Indexer implementation code, I have a dout.
Assuming every coming record in my ingest dataset is not sort by datatime, but have a very large time range, like this::

2022/01/01 10:01:00 data1
2021/02/02 00:00:11 data2
1999/01/01 00:00:11 data3
2022/01/01 09:00:00 data4
...

In this case, every index split that quickwit generated will have a very large time range step,t

[2022-08-18 10:40] fmassot commented on #1859
You're right in your analysis. If the timestamps are in random order then each split will have timestamps with a big time range. And a query will not be able to benefit from timestamp-based pruning.
It's obviously better if you don't mix too much the timestamps.

[2022-08-18 13:47] #1856 closed

[2022-08-18 13:48] geek-frio commented on #1859
@fmassot thks!

[2022-08-19 10:49] zamazan4ik opened #1860 "Monitoring support"
**Is your feature request related to a problem? Please describe.**
I want to monitor Quickwit's metrics and health checks. And I want to do it with a standard for the industry tooling like Prometheus, Grafana, etc.

**Describe the solution you'd like**
- Integrate Prometheus metrics into Quickwit
- Provide ready to use Grafana dashboards
- Add notes about alerting setup (possibly via alert-manager

[2022-08-19 12:17] fulmicoton commented on #1860
Hello @zamazan4ik ,

We haven't document it much, but we do a set of prometheus metrics. You can access them on `/metrics`

[2022-08-19 12:36] fulmicoton commented on #1856
@geek-frio Oh cool. We willl probably develop specific features to deal with storing tracing data specifically. If you have time to describe your use case in depth, I'd love to discuss

[2022-08-19 13:17] fulmicoton commented on #1829
The query parser identify the string to search for correctly. The default tokenizer splits it into several tokens (`[cherry, py]`) which triggers the phrase query.

Probably the right fix would be to emit an intersection query here, if position are not available instead of emitting a error.

[2022-08-21 18:46] fmassot opened #1867 "Remove IngestApiService's OnceCell"
Currently, the mailbox of the `IngestApiService` is a singleton. It is a convenient way to access it when you create an `IngestApiSource`.

But it prevents running tests that start indexers nodes. Currently we can run only one test that starts an indexer.

[2022-08-23 13:12] fmassot commented on #1468
Possibly interesting indexing metrics:

- ingested_bytes
- num_docs_in / num_docs_out

[2022-08-23 14:48] fmassot opened #1871 "Update chitchat with new ready predicate"
See PR https://github.com/quickwit-oss/chitchat/pull/66

[2022-08-23 16:32] fulmicoton opened #1872 "Log indexer counters when indexer terminates"
A user fed quickwit with a json array of document instead of NDJSON.
The logs did not show any error.

Since the file was very small, quickwit cli also did not show any counter lines, with "Parse Errs", making it difficult for the user to identify the problem.

We should at the very least output the indexer counters when it finishes.

[2022-08-24 07:57] fmassot opened #1874 "Document `partition_key` in quickwit config"

[2022-08-24 08:14] fulmicoton commented on #1872
[code]

Here is the output that we have today. Offline @guilload mentionned that we already had a PR similar to that.
I am not sure if it forces the print of the summary line or if the PR never landed.

` Num docs       4 Parse errs     0 PublSplits   1 Input size     0MB Thrghput  0.00MB/s Time 00:00:04`

[2022-08-24 08:55] boraarslan commented on #1872
I think the mentioned PR is #1843. When I try to ingest the documents, I get an error message:
[code]

Mentioned PR is not included in v0.3.1. I think we can close the issue.

[2022-08-24 09:07] fmassot commented on #1860
We just added the metrics in the docs: https://github.com/quickwit-oss/quickwit/blob/main/docs/reference/metrics.md

[2022-08-24 11:14] #1872 closed

[2022-08-24 11:30] fulmicoton commented on #1851
#1868 showed that there was no easy path to solve this issue. We will postpone this issue until someone actually needs it.

I assume the original intent was to help people debug the scoring.
A better alternative could be to add a flag to add the score and the explanation of the score as returned by tantivy.

[2022-08-24 12:02] #1789 closed

[2022-08-24 21:53] fmassot opened #1878 "Add quickwit services in QuickwitConfig"
Currently, services are given in the CLI args.
It should also be possible to define them in the `QuickwitConfig`.

[2022-08-25 09:14] fmassot opened #1879 "Implement `check_connectivity` for MetastoreGrpcClient"
#1877 introduces the notion of readyness defined by checking the connectivity of the metastore.

#1866 will introduce the `MetastoreGrpcClient` that should implement a relevant connectivity check. Typically, by checking if it has at least one client.

[2022-08-25 09:30] #1871 closed

[2022-08-25 13:50] guilload commented on #1867
Closed via #1880.

[2022-08-25 13:50] #1867 closed

[2022-08-25 22:05] fmassot opened #1882 "Define and implement liveness, readiness endpoints for kubernetes"
Kubernetes has different health checks, we need to define them for quickwit.

[2022-08-26 09:31] fulmicoton commented on #1856
For eventual future readers, this aged very fast. We are about to merge multi-node indexing in main
https://github.com/quickwit-oss/quickwit/pull/1824

[2022-08-26 10:08] guilload opened #1883 "Remove demux-related code"
Partitioning is the new way to go. That code is no longer needed.

[2022-08-26 10:58] fmassot commented on #1804
Closed by #1838

[2022-08-26 10:58] #1804 closed

[2022-08-26 10:59] fmassot commented on #1805
Fix in #1838

[2022-08-26 10:59] #1805 closed

[2022-08-26 16:59] #1851 closed

[2022-08-26 17:03] guilload commented on #1700
Fixed via #1869

[2022-08-26 17:03] #1700 closed

[2022-08-26 20:00] #758 closed

[2022-08-26 21:31] #1519 closed

[2022-08-26 23:37] #1773 closed

[2022-08-27 12:16] guilload opened #1889 "Check for clippy warnings with all features enabled in CI"
cargo clippy --all-features

[2022-08-27 15:21] #1889 closed

[2022-08-27 16:38] guilload commented on #1467
@PSeitz, can we close this issue?

[2022-08-27 17:17] fmassot commented on #1780
@boraarslan can we close the issue?

[2022-08-27 17:22] boraarslan commented on #1780
I believe #1870 closes this, but I did not know this issue existed before, so I did not tag it on the PR.

[2022-08-27 17:22] #1780 closed

[2022-08-27 17:29] #1794 closed

[2022-08-27 19:21] PSeitz commented on #1467
Yes that's finished

[2022-08-27 19:21] #1467 closed

[2022-08-27 21:27] zamazan4ik commented on #1860
@fmassot Thanks! For the users would be much easier to read it the information (at least some general info) directly from the documentation on the site. And there you can add a link to the `metrics.md` page.

[2022-08-28 05:43] guilload opened #1892 "Implement Weak actor mailbox"
For caching mailboxes without undesired side effects. For instance:
[code]

[2022-08-28 05:53] guilload opened #1893 "Implement an actor registry"
Sometimes, we know an actor must exist uniquely on a node.

[code]

[2022-08-28 08:44] guilload commented on #1860
Unfortunately, publishing the docs from our main repo to our website repo is not automated (yet). The metrics page will eventually be available on `quickwit.io/docs`, probably when we release 0.4 in a few weeks.

[2022-08-29 19:38] laurids-reichardt opened #1895 "Compiled from main branch. Service searcher error: `Command failed: deadline has elapsed`"
**Describe the bug**
I successfully compiled the current main branch on macOS. Index ingestion works fine. However, I get the following error when I start the searcher service:

[code]

**Steps to reproduce (if applicable)**
See above.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Configuration:**
Default config.

[2022-08-29 19:53] fmassot commented on #1895
This log error is so useless...

We are currently adding new services and now when you start a searcher you need to start the metastore service too like this:

I'm going to fix this error message, sorry for that :/

[2022-08-29 20:00] laurids-reichardt commented on #1895
Ah, alright. No worries! Thanks for your support.

[2022-08-29 20:03] fmassot commented on #1895
Just to be complete, it's possible to start one searcher node without the metastore service but in this case, another node running the metastore service must be present in the cluster.

[2022-08-29 23:00] demangejeremy opened #1897 "Problem with Scaleway's S3 compatible Object Storage"
Scaleway has a cheap formula for S3 storage. This makes it perfect for QuickWit. Only, I've been stuck running Scaleway's Object Storage from QuickWit for two days now. Has anyone succeeded?

**Describe the bug**

I used the latest published version of DockerHub : quickwit/quickwit:edge. I also tried to make it work without Docker since version 0.3.1, tested by building a new version for Ubuntu fr

[2022-08-30 03:35] fulmicoton commented on #1897
That's odd! @boraarslan can you have a look? Ping Adrien, Francois, or I to get a scaleway account set.

[2022-08-31 03:16] fulmicoton opened #1900 "Clean up the tantivy / quickwit threading situation."
Right now quickwit relies on tantivy's IndexWriter with one thread for indexing.

tantivy's IndexWriter starts its own threads, and pushes documents through a channel.

That channel is redundant with the Indexer actor channel.
With index partitioning, the situation is much worse, as we have several index writer at the same time. (each with its own threads).

In tantivy#1487 we introduced a new API

[2022-08-31 18:28] demangejeremy commented on #1897
Wouldn't that join this error?

https://stackoverflow.com/questions/70169992/multipart-upload-with-presigned-urls-scaleway-s3-compatible-object-storage

Well, I have to start developing in Rust again to try to understand the Quickwit code better and eventually propose a fix.

Your help would be very precious in any case 😊

[2022-08-31 21:38] demangejeremy commented on #1897
Problem solved. It was a write access problem (since I'm a beta tester of the new IAM service, it got stuck there). So I close the ticket.

[2022-08-31 21:38] #1897 closed

[2022-08-31 21:44] fmassot commented on #1897
thanks @demangejeremy for the update.

[2022-09-01 09:01] #1895 closed

[2022-09-02 17:26] fmassot opened #1910 "Add a test with different grpc address"
Following PR #1909, we need a test with different `grpc_listen_addr` and `grpc_advertise_addr`. Should be pretty easy to add and will prevent messing up again the config.

[2022-09-02 22:32] #1883 closed

[2022-09-02 23:01] fmassot opened #1913 "Add guide to use scaleway object storage"

[2022-09-03 03:29] demangejeremy commented on #1913
Done @fmassot :)
I save time for @maximkpa.

[2022-09-03 09:55] fmassot opened #1915 "Add `index_id` in split metadata"
The `Split` and `SplitMetadata` structs do not contain the `index_id`.
It is a bit strange as we store the `index_id` in postgresql splits table.

But we did not feel need for it as the `index_id` is already present in actors via the `IndexPipelineId`. This works as all our actors operate on a given index or pipeline.

But this will not be the case for the delete pipeline where we can have one pip

[2022-09-05 13:36] fmassot commented on #1143
Another example of a log taken from https://github.com/elastic/rally-tracks/tree/master/http_logs

[code]

[2022-09-05 20:57] fmassot commented on #1860
It is... but it was broken as one page had a broken link. It's fixed now: https://quickwit.io/docs/main-branch/reference/metrics

[2022-09-06 01:17] fulmicoton opened #1920 "Adapt the merge policy"

[2022-09-06 01:18] fulmicoton commented on #1913
Closed in #1914 Thank you @demangejeremy

[2022-09-06 01:18] #1913 closed

[2022-09-06 01:19] fulmicoton commented on #1915
@fmassot +1 for adding index_id to the split metadata

[2022-09-06 02:57] yangjinming1062 opened #1922 "Whether there is an automatic stop mechanism for indexer"
**Describe the bug**
I have a index called Demo, and this is the indexer cmd: quickwit service run indexer --indexes Demo.
I run the indexer by supervisord. I wish it to run forever, but sometimes I find that indexer has stopped working.

**Expected behavior**
I would like to know the cause of this problem and how to avoid it.

**Configuration:**
Please provide:

1. quickwit --version: 0.2.1
2. Th

[2022-09-06 04:28] fulmicoton commented on #1922
@yangjinming1062 thank you for the report.

Can you share your logs?
They should have plenty of information that will help answer your question.

[2022-09-06 05:13] yangjinming1062 commented on #1922
Thank you for your answer. There's only one index running, and the cmd running in the k8s.  I'm sure the pod didn't reboot.Additional information is that Kafka can have a large amount of data.

[2022-09-06 05:20] yangjinming1062 commented on #1922
Additional information：
I just noticed that the indexer in the container has stopped again, so I into the container an ps process
![image](https://user-images.githubusercontent.com/30614179/188552613-15a81725-8bd2-4586-bfff-b79b3248164f.png)
When I restart indexer, I see indexer's log in the container as follows, and it looks like it's back to normal.
![image](https://user-images.githubusercontent

[2022-09-06 07:51] evanxg852000 commented on #1922
Can you please try the latest release version of Quickwit, form the log you are using `v0.2.1`. The latest is `v0.3.1`

[2022-09-06 08:11] yangjinming1062 commented on #1922
Yes, I will try the latest version and watch to update the status of this problem.

[2022-09-06 09:09] fulmicoton commented on #1893
What does require does?

[2022-09-06 10:34] evanxg852000 opened #1926 "Refactor Janitor service GC actor"
Refactor the Garbage collection actor in Janitor service to directly work on dangling splits.
- We  want to have a new method on the Metastore that return the list of garbage collectable splits in all registered indexes.
- We also want the `list_splits` method of the metastore to have a filter on `node_id` as we have some common splits operations (clean local split store) done at node level.

Rela

[2022-09-06 14:52] demangejeremy opened #1928 "Support for ARM architecture (Mac M1)"
I see that there is no binary available for ARM / Mac M1. If nobody is on this project, I can participate on my time (because I need it, the indexing time is way too high on M1 as I have to mimic the x64 architecture).

Can I build it and fix any bugs if needed?
And also try to find solutions to build an ARM compatible Docker.

[2022-09-06 15:13] evanxg852000 commented on #1928
Yes sure, That will be awesome.
We used to have ARM builds in our release, but currently we depend on RocksDB and it makes it hard to build and link for ARM.
As a pointer, you could try building from [cross images.](https://github.com/cross-rs/cross) They recently updated the tools in those base images.

[2022-09-06 15:26] fmassot commented on #1928
@demangejeremy I'm on M1, and you can build it with cargo. If you need to build it with all features (kafka, azure, postgresql...), you can launch
`cargo build --features release-feature-vendored-set`

[2022-09-08 01:34] fulmicoton commented on #1928
Also, we will likely ditch RocksDB in the near future.

[2022-09-09 09:55] fulmicoton opened #1934 "Switch to ZStd by default"
Make sure that the default store compressor is ZStd in Quickwit  (maybe it is already the case)

[2022-09-09 10:36] evanxg852000 commented on #1934
I think it's already the case https://github.com/quickwit-oss/quickwit/blob/main/quickwit-indexing/src/actors/indexer.rs#L480

[2022-09-09 11:46] guilload commented on #1307
[code]

[2022-09-09 11:46] #1307 closed

[2022-09-09 11:48] guilload commented on #1625
I am closing this generic issue in favor of more specific ones.

[2022-09-09 11:48] #1625 closed

[2022-09-09 11:52] guilload commented on #1631
#986

[code]

[2022-09-09 11:52] #1631 closed

[2022-09-09 11:54] guilload commented on #1666
François' PR was merged, closing.

[2022-09-09 11:54] #1666 closed

[2022-09-09 11:55] guilload commented on #1742
Closed via #1802

[2022-09-09 11:55] #1742 closed

[2022-09-09 11:58] #1934 closed

[2022-09-09 17:13] guilload opened #1935 "Truncated subcommands such as `quickwit index` or `quickwit source` should display the subcommand help."
[code]

Let's display the same output as `quickwit source --help`.

[2022-09-12 13:37] fmassot opened #1936 "Respawn an actor with the inbox & mailbox of a spawned actor that exited"
**Problem description: restarting actors in a pipeline**

Currently, we have an indexing pipeline made of actors that will trigger a whole whole pipeline restart if one of the actors fails.
This is what we want as managing the state of the whole pipeline is complex.

But for the future delete task pipeline shown below, we don't need to restart the whole pipeline.

[code]

If an actor is failing, i

[2022-09-12 15:25] fmassot opened #1937 "Use NonZeroUsize in Stamper and maybe somewhere else."
PR #1916 introduced a stamper that always returns a non zero integer.
We can use here `NonZeroUsize`.

Quoting @fulmicoton in https://github.com/quickwit-oss/quickwit/pull/1916#discussion_r966883799

[2022-09-12 15:28] fmassot opened #1938 "Remove call to `last_delete_opstamp` at each indexing workbench creation."
In PR #1916, we introduced a call to the metastore each time we create a workbench.

Discussed here: https://github.com/quickwit-oss/quickwit/pull/1916#discussion_r966762160

We can avoid that by setting the last opstamp directly in the metastore.

[2022-09-12 15:43] fmassot opened #1939 "Add REST API for delete query."

[2022-09-12 15:55] fmassot commented on #1795
Merge siloes and filtering is done in #1865

But we can track other parts in new issues:

[2022-09-12 15:55] #1795 closed

[2022-09-12 16:00] fmassot opened #1940 "Simplify the merge pipeline"
As discussed in #1795, the merge pipeline can be simplified:
- we can remove the sequencer which is needed only by the indexing pipeline
- we don't need to restart the whole pipeline if an actor is failing, we can just respawn the failing actor. However this would require to track ongoing merges or failing merges with a drop guard.

Ref:

[2022-09-13 07:07] #1265 closed

[2022-09-13 08:36] #1796 closed

[2022-09-13 08:54] fmassot opened #1945 "Fix delete query in `MergeExecutor`"
Currently, tantivy does not let Quickwit execute a general delete query, only term queries are possible.

A general delete query is planned in tantivy: https://github.com/quickwit-oss/tantivy/issues/1494

Let's wait for it and update Quickwit code after that.

[2022-09-14 11:22] evanxg852000 commented on #1803
## On refactoring the SplitStore @guilload @fmassot
We want a global SplitStore per indexing node. Currently, we have a split-store per source.
We kind of need to decide the indexing directory layout. My idea is that we create a top level SplitStore that will manage all indexes SplitStore. So we get rid of the split-store per source separation, all indexing pipelines for a given index work in the

[2022-09-14 12:06] fmassot commented on #352
Closed by #1328

[2022-09-14 12:06] #352 closed

[2022-09-14 13:58] guilload commented on #1803
Let's not merge splits from different sources. After the refactor, the merge key should be `(node_id, index_id, source_id)`.

[2022-09-14 14:00] fmassot commented on #1803
I'm not sure of that right now but this question seems unrelated to the fundamental problem we want to solve: having a global split cache.

The benefit is isolation between indexing pipelines, it's always nice to have different working directories, also for debugging purpose it's convenient.

My personal opinion on this: let's focus on the problem of having a global cache split directory so that w

[2022-09-14 14:09] fmassot commented on #1803
Actually my solution is not working because of the split cleanup we are doing when we start the server. I need to rethink about that.

[2022-09-14 14:42] guilload commented on #1803
This is inaccurate. Currently, there is [one split store indexing pipeline](https://github.com/quickwit-oss/quickwit/blob/main/quickwit-indexing/src/actors/indexing_pipeline.rs#L224).

The layout you describe is also inaccurate. The current layout is `<data dir>/indexing/<index ID>/<source ID>/{cache,scratch}`. As @fmassot commented, this layout serves us well for isolating indexing pipelines and

[2022-09-14 20:55] fmassot opened #1949 "Broken UI"
With all recent updates, UI is partly broken, at least the cluster state page.

[2022-09-15 09:24] #1900 closed

[2022-09-15 10:18] fmassot opened #1956 "Add tag fields when creating packager in delete task pipeline"

[2022-09-15 14:58] fmassot opened #1960 "Handle the case where delete query remove all documents in a split"
In this case, we just want to remove the split.

[2022-09-15 21:09] fmassot opened #1963 "Show the index delete tasks in the index UI tab"

[2022-09-15 21:10] fmassot commented on #1922
any news on this @yangjinming1062 ?

[2022-09-16 09:48] fmassot opened #1966 "Remove MergeExecutor dependency on IndexingPipelineId"
Currently, a `MergeExecutor` needs to be instantiated with an `IndexPipelineID`.

But a merge executor already has all the necessary information in the splits metadata that it is going to merge.

[2022-09-16 17:14] #1956 closed

[2022-09-17 21:23] fmassot commented on #1935
Strange, on main it's already displaying the help message without adding `--help`.

[2022-09-18 15:59] fmassot opened #1968 "Fix the ingest api source"
Quickwit create automatically an ingest-api source to launch an indexing pipeline and be able to receive requests on our ingest API.

This raises at least 2 issues and raises some questions/comments.

1. It is currently possible to create an inconsistent (or inconsistent) Ingest API source
Just run
`cargo r source create --index hdfs-logs --source-config ../ingest_source_config.yaml --config ../co

[2022-09-19 13:28] guilload commented on #1968
That seems cumbersome, what about adding an `enable_ingest_api` parameter in the config somewhere and Quickwit handles everything else?

I agree otherwise, there should be at most one ingest source API `.ingest-api` per index managed by Quickwit.

[2022-09-19 14:17] guilload commented on #1968
Chatted off GitHub with @fmassot:
- add `enabled` parameter to source params
- create one ingest API source per index by default in metastore
- add defensive code to ensure ingest API source is always unique (type and id) per index
- add CLI command `source enable/disable --source <SOURCE ID>`

[2022-09-19 15:29] fmassot commented on #1936
Closed by #1965

[2022-09-19 15:29] #1936 closed

[2022-09-20 07:40] yangshike opened #1979 "Chinese search is not supported？"
when i  run:
  "elapsed_time_micros": 79922,
  "errors": []
}[root@iZ8vbb3fnrdi22x6avhwmhZ indexes]# curl  "http://127.0.0.1:7280/api/v1/customer/search?query=wechat_name:maya"

its ok!
 but when i run :
 curl  "http://127.0.0.1:7280/api/v1/customer/search?query=wechat_name:啊"

No output ！！

[2022-09-20 08:05] fulmicoton commented on #1979
This looks like a tokenization problem.
You need to configure a chinese tokenizer for your index. Unfortunately, quickwit does not offer any chinese tokenizer out of the box. The good news is that tantivy does offer several, so if you help us we can add support for chinese relatively fast.

Can you help reviewing the results / supplying us with a small dataset?

[2022-09-20 08:40] yangshike commented on #1979
Of course, but I don't know what I need to do. Could you tell me in more detail

[2022-09-20 15:58] evanxg852000 opened #1981 "The CLI merge command exits with error"
The merge command is supposed to keep quickwit merge pipeline running till canceled.
Currently, it exists shortly after starting with this error.
[code]

To keep it running we can use SourceParams::Void https://github.com/quickwit-oss/quickwit/blob/main/quickwit/quickwit-indexing/src/actors/indexing_service.rs#L344

[2022-09-20 17:52] fmassot opened #1982 "Watching clusters members does not return an updated `me` member"

[2022-09-21 03:43] fulmicoton commented on #1981
It is supposed to only exit if no one holds its mailbox. I assume you want it to run so that you can add a source/an indexing pipeline in the future. How do you get its mailbox then?

[2022-09-21 08:33] trinity-1686a commented on #1979
Hi, could you tell us more about your use case? Are you trying to process data primarily in English but which may contain sequences of Chinese (possibly something like logs), documents mostly in Chinese, a dataset of documents in various languages, or something else entirely?

[2022-09-21 08:36] fulmicoton opened #1986 "Metastore GRPC disconnection?"
Even on a small cluster, a user is experiencing disconnection with the gRPC connection to the metastore service.

[2022-09-21 09:19] evanxg852000 commented on #1981
Discussing with @fmassot yesterday, it appeared that the only advantage of having it is testing merge in action. There is the question of whether we should ditch it.
Indeed, when you keep it running, you cannot get the mailbox held by the void source.
My intent is that this command will periodically fetch splits produced by indexing pipelines with `source_id` and send it to the internal merge plan

[2022-09-21 09:25] yangjinming1062 opened #1987 "Lost splits"
**Describe the bug**
I used the same way to query, the first time the results, after a few minutes again query query failed
![image](https://user-images.githubusercontent.com/30614179/191725311-afb57425-1645-4f6f-b843-b02ea3f941e2.png)

**Expected behavior**
Same query same result.

**Configuration:**
Please provide:

1. quickwit --version：0.3.1
2. The index_config.yaml
`---
version: 0 # File form

[2022-09-21 09:40] guidao commented on #1986
I encountered the same problem.
[code]

[2022-09-21 09:43] yangjinming1062 commented on #1987
With the UI, I finded there only 3 documents. so will documents be deleted automatic?
![image](https://user-images.githubusercontent.com/30614179/191472010-36491228-ea63-4875-affe-379b2e79981c.png)

[2022-09-21 09:51] yangjinming1062 commented on #1987
Another question: I have many data in kafka, but the indexer only a few documents:
![image](https://user-images.githubusercontent.com/30614179/191473784-79cd647a-8a31-4366-99d2-cd9a88f2a4b2.png)

[2022-09-21 09:54] guidao opened #1988 "When the index is recreated, the indexer will panic"
**Describe the bug**
When the index is recreated, the indexer will panic
[code]

**Steps to reproduce (if applicable)**
Steps to reproduce the behavior:

1.  quickwit index delete --index logs
2.  quickwit index create --index-config logs.yaml
3.  restart indexer

**Expected behavior**
Not Panic.

If I insert the following data manually, it will not panic.
[code]

It seems to be related to this fu

[2022-09-21 10:01] yangjinming1062 opened #1989 "Lost index"
**Describe the bug**
I created indexer in the k8s, and  saw the succeed log.
![img_v2_073e3254-1bc6-4682-9a8f-baee399df00g](https://user-images.githubusercontent.com/30614179/191475419-ecfff5e8-4796-45b6-bac0-23925f77acde.jpg)
But when I query the status
![image](https://user-images.githubusercontent.com/30614179/191475854-416d3743-72d1-439e-b5b0-430e24a05fbe.png)

**Expected behavior**
A stable i

[2022-09-21 10:26] PSeitz commented on #1989
Did you use a [config](https://quickwit.io/docs/configuration/node-config) that points to the same `metastore_uri` and `data_dir_path` for both commands? From the logs I can see, you are using the filesystem as `data_dir_path` and  in the second command the file system as the metastore. Are you on the same machine and folder when checking for the index? For k8s it's probably better to use s3 compa

[2022-09-21 10:29] PSeitz opened #1990 "Warn when using filesystem?"
We could print a warning with a link to the docs outlining the limitations when using the filesystem as datadir or meta-store. It may ease onboarding new users.

[2022-09-21 10:38] PSeitz commented on #1987
Can you share the logs of your indexer? In the [other issue](https://github.com/quickwit-oss/quickwit/issues/1989), it seems you were using kubernetes and local file system as data dir. Maybe you are using an ephemeral file system?

[2022-09-21 10:48] yangjinming1062 commented on #1989
Thank you. I noticed that `data_dir_path`  was commented out, so I'll try to keep `data_dir_path `consistent with `metastore_uri `later

[2022-09-21 10:54] PSeitz commented on #1988
@guidao do you delete the index while the indexer is running?

[2022-09-21 12:15] guidao commented on #1988
yes.

[2022-09-21 19:21] guilload commented on #1988
Thank you for your report, @guidao. The bug was fixed by #1992.

[2022-09-21 19:21] #1988 closed

[2022-09-21 19:45] guilload commented on #1988
BTW, @guidao, what is the volume of deletes that you perform? This functionality was designed for a low frequency/volume of deletes to address compliance use cases.

I'm also afraid that the functionality is still half-baked since we haven't landed all our work on deletes yet in [tantivy](https://github.com/quickwit-oss/tantivy).

[2022-09-21 19:50] guilload commented on #1990
datadir on local fs is fine and is actually the recommended way to deploy Quickwit (SSDs).

What is not fine (in cluster mode), or at least risky if don't know what you're doing:
- file-backed metastore (S3 is ok in read-only mode)
- file-backed indexes
- default index root URI on local file system

I've recently added some warning but adding a warning for the default index root URI on local file

[2022-09-21 22:41] fulmicoton commented on #1989
@yangjinming1062 This is most likely not a bug but a misconfiguration. Please let us know if you sorted out your problem.

If you still have trouble fixing your configuration, please share your configuration and more info on what you are trying to do. (e.g. run quickwit on a single/several nodes) etc.

[2022-09-21 22:44] fulmicoton commented on #1987
This is most likely the same misconfiguration as #1989. We are happy to help but need more information.

[2022-09-22 00:12] fmassot opened #1993 "Add integration test with postgresql"
Currently we have some "e2e" CLI tests, some on s3 with the help of localstack but we have nothing on postgresql.

This is very much needed to avoid this kind of PR... #1992

[2022-09-22 01:12] fulmicoton opened #1994 "Introduce a `ColumnReader`"
Currently columns are assumed to offer "immutable" constant random access.

This has two problems:
- Random access into some of our columns is actually non trivial.
Right now one of the Scanner uses a Mutex.
-We will soon introduce sparse codec which also would benefit from some scanning solution.

We should probably remove

`fn iter()` and `fn get_val()` in that case, and force everyone to use th

[2022-09-22 01:24] fulmicoton commented on #1994
wrong project closing...

[2022-09-22 01:24] #1994 closed

[2022-09-22 02:34] guidao commented on #1988
About 30,000 splits of index. Thanks for the heads up, we are testing the index configuration parameters.

[2022-09-22 02:44] yangjinming1062 commented on #1989
The quickwit.yaml

`
---
version: 0

listen_address: 0.0.0.0

metastore_uri: file://./qwdata/indices#polling_interval=30s
data_dir: file://./qwdata/indices
`
QuickWit run with Single-node, and run k8s with a persistence volume.

[2022-09-22 06:58] fulmicoton commented on #1989
@yangjinming1062 This is actually a bug on quickwit side! Thank you for the report!!!

In the meanwhile, you can fix your problem by editing your config as follows:

[code]

[2022-09-22 07:07] fulmicoton opened #1996 "Bad experience of user enterring an URI is enterred in place of `data_dir_path`"
In https://github.com/quickwit-oss/quickwit/issues/1989 a user enterred an URI in place of the `data_dir` parameter.

This is a very easy mistake to make, and the error message seems a bit misleading.
It just shows

Data dir `file://theuseruri/` does not exists.

It would be nice to either
- accept file:/// uris. (and only this protocol) and automatically convert it
- Validate the input as not con

[2022-09-22 07:10] fulmicoton commented on #1987
Reopening as it might not be related to #1989.
 @yangjinming1062 can you tell us if your problem is fixed or not.

Also can you share some of the indexer logs?

[2022-09-22 07:37] yangjinming1062 commented on #1989
I try the PostgreSQL but the split lost again...
Here is my configuration:
quickwit.yaml
[code]
When I begin , I saw the split.
![bVSj3kmFpV](https://user-images.githubusercontent.com/30614179/191686293-bd587816-9f79-4a68-a39a-06738d37ba94.jpg)
later
![image](https://user-images.githubusercontent.com/30614179/191686494-8efe3d31-6575-48a0-a557-f8de88ca4e93.png)

[2022-09-22 09:37] YANGJINJUE opened #1997 "Route not found"
**Describe the bug**
curl -X POST http://127.0.0.1:7280/api/v1/hdfs-logs/ingest -H 'context-length:295' -d '{"body":"Deleted BP-108841162-10.10.34.11-1440074360971 blk_1074166613_425789 file /opt/hdfs/data/current/BP-108841162-10.10.34.11-1440074360971/current/finalized/subdir6/subdir123/blk_1074166613","resource":{"service":"datanode/28"},"severity_text":"INFO","tenant_id":20,"timestamp":14752157

[2022-09-22 09:50] fmassot commented on #1997
Thanks for the report @YANGJINJUE

Currently, if you start the indexing server and then create the index, the indexing server will not see the new index. You need to restart the indexer.

Can you confirm that this issue is related or not with the current quickwit behavior? By the way, this behavior will change in 0.4.

[2022-09-22 10:07] yangjinming1062 commented on #1989
I try postgresql with docker-compose:
[code]
Actually, I saw some ERROR but don't know the reason:
[code]

[2022-09-22 10:13] yangjinming1062 commented on #1987
Thanks, I have some scripts to replace the `$(KAFKA)` with a truly IP such as 192.168.0.10, so I'm sure the configuration is right.

[2022-09-22 10:23] yangjinming1062 commented on #1987
I give some detail on the https://github.com/quickwit-oss/quickwit/issues/1989, but yes, this problem doesn't like 1989, so I will provide all my configuration.
### quickwit.yaml
[code]
### index.yaml
[code]
### docker-compose.yaml
[code]
### private quickwit's Dockerfile
[code]
### some error log
[code]

[2022-09-22 10:50] #1989 closed

[2022-09-22 12:42] boraarslan commented on #1196
Fixed by #1918

[2022-09-22 12:42] #1196 closed

[2022-09-22 18:19] #1996 closed

[2022-09-22 20:20] guilload opened #2002 "Retry strategy for gRPC clients"
Exponential backoff + jitter + round robin on server pool

[2022-09-22 20:20] guilload opened #2003 "Metastore instrumentation"

[2022-09-22 20:22] #855 closed

[2022-09-22 23:47] fmassot opened #2004 "Kafka SourceActor timeout when starting indexers on k8s"
It happens only when starting the indexer, the pipelines are working well after generation 2 or 3.

I attached the log but there is not much to say as we only see the actor timeout.

[logs.txt](https://github.com/quickwit-oss/quickwit/files/9630030/logs.txt)

[2022-09-23 01:35] yangjinming1062 commented on #1987
The splits lost again, and I confirm container never restart.

[2022-09-23 02:20] fulmicoton commented on #1987
@yangjinming1062 thank you for the report.

The error in the logs are unrelated to your problem.
Some explanation: Quickwit's indexing relies on an actor model.
For extra resilience, if an actor does not record any progress for more than 3s, a supervisor kills all actors and restarts the pipeline. The other ERROR lines are just all of the actors in the pipeline being killed by the supervisor. It l

[2022-09-23 03:00] guidao opened #2005 "Initial number of files exceeds the maximum number of files allowed"
**Describe the bug**
[code]

The default value is 1000, but there are about 2000 splits in the cache.
[code]

**Steps to reproduce (if applicable)**

1. create index with  num_pipelines: 2

**Expected behavior**
indexer is running normally.

**Configuration:**
[code]

[2022-09-23 03:27] fulmicoton commented on #1987
@yangjinming1062 I could not find anything wrong with your configuration..
One thing that we can do to see if it is a problem on postgres or some quickwit misbehavior is this:

Can you add the following command attribute to your postgres docker config:

[code]

It will force postgresql to log all of the statement sent to it into the same directory in your host computer. We can them have a look at

[2022-09-23 03:33] yangjinming1062 commented on #1987
OK, I will add the postgres docker config and try again.

[2022-09-23 03:48] yangjinming1062 commented on #1987
![image](https://user-images.githubusercontent.com/30614179/191888205-5df57c04-1985-43e7-8998-2c7756fffee6.png)
I try another way: I used the default quickwit.yaml and I confirm the quickwit_service container dosen't restart. At the first time , the index created_at and update_at is another time, and documents is about 900+. after about 2 hour, when I refresh the web UI I saw the index created_at

[2022-09-23 04:21] yangjinming1062 commented on #1987
![Da4iYvrc0Y](https://user-images.githubusercontent.com/30614179/191891434-38c8a901-220d-4817-a126-0bc3a67169fe.jpg)

![q1vD9QCtui](https://user-images.githubusercontent.com/30614179/191891445-1f056a5b-60e7-49d9-ab12-3adad174717e.jpg)
[postgresql.log](https://github.com/quickwit-oss/quickwit/files/9630690/postgresql.log)
[code]

[2022-09-23 05:51] yangjinming1062 commented on #1987
It seem like the ` --overwrite` command will delete old index. In my real docker-compose.yaml， there are some other service and gitab CI will rebuild quickwit_init each time.

[2022-09-23 05:53] fulmicoton commented on #1987
ah yes mystery solved then! good find!

[2022-09-23 06:00] fulmicoton commented on #2005
@guidao can you share your `quickwit.yaml` ?

[2022-09-23 06:24] yangjinming1062 commented on #1987
This time I confirm the index not changed, but split lost.
### first time split
[code]
![img_v2_68d25f99-615b-41eb-b446-f448510793ag](https://user-images.githubusercontent.com/30614179/191902531-3b308827-1aca-4191-9d44-86ec122c43b6.png)
### second time split
[code]
![image](https://user-images.githubusercontent.com/30614179/191902654-2ac1a049-c433-442a-8dc5-7bf8aacf6760.png)

### some logs
[code]

[2022-09-23 06:35] guidao commented on #2005
I have not changed this parameter.
[code]

Due to debugging, the current image was forked and then built by itself after adding some logs. So the commit id is not getting correct. I will test again with the latest official version.

[2022-09-23 06:54] guidao commented on #2005
The latest version looks like it no longer has this limitation. I closed this issue. Thanks for your help.

[2022-09-23 06:54] #2005 closed

[2022-09-23 06:55] fulmicoton commented on #2005
Really? I think the same check is supposed to be there.

[2022-09-23 07:03] fulmicoton commented on #1987
@yangjinming1062

This is normal behavior.
These splits were marked for deletion.

More explanation:
You don't receive many documents. Quickwit triggers the emission of a split 30s or so, to make sure your documents are searchable.
The splits hence created contain 1~7 docs here.

After creating 10 such splits, Quickwit triggered a merge, and merged these 10 splits into one -> 01GDMFPBPQMZ69Z5406WV

[2022-09-23 07:03] #1987 closed

[2022-09-23 07:14] yangjinming1062 commented on #1987
Thank you, now I know the merge mechanism. But why did the number of documents change from 76 to 39? Maybe that means I can't find those 37 documents anymore?

[2022-09-23 07:22] fulmicoton commented on #1987
@yangjinming1062

Excellent point. Let me investigate

[2022-09-23 07:24] fulmicoton commented on #1987
It is a bug in the UI. The UI is simply summing num docs over all splits.

[2022-09-23 07:29] fulmicoton opened #2006 "num docs as displayed in the UI is misleading"
As reported in #1987.

The UI reports the overall number of docs in splits. (including splits marked as deleted).

https://github.com/quickwit-oss/quickwit/blob/f32f31694b0815da2b0eb63f70db122a23421bee/quickwit/quickwit-ui/src/components/IndexSummary.tsx#L43-L49

This is quite misleading for users.

We probably want

- num docs (defined as published splits only)
- num published splits

Size is fis

[2022-09-23 07:42] yangjinming1062 commented on #1987
![image](https://user-images.githubusercontent.com/30614179/191912926-02b9c4e2-2f9f-4652-8c0c-358188bc88db.png)
![image](https://user-images.githubusercontent.com/30614179/191912975-67c4843e-78cf-43bd-8dea-84ab426396d7.png)
Sorry, I don't think it's just a UI bug, when I use the API, the result is the same as using the UI. Maybe the essence of the merge mechanism ?

[2022-09-23 08:08] fulmicoton opened #2007 "Use workspace dependencies"
Update the `rust-toolchain.toml` and rely on workspace dependencies.

https://doc.rust-lang.org/cargo/reference/workspaces.html#the-dependencies-table
https://blog.rust-lang.org/2022/09/22/Rust-1.64.0.html

[2022-09-23 12:36] fulmicoton commented on #1987
@yangjinming1062 search is meant to ignore splits marked as deleted. If it does not do that it is a bug.

Are you sure you just did not index more document since last time?
Just to be sure can you send the current list of splits (I see you have 7 splits right now).
On a "*" query, without time filtering, the number that you see in `num_hits` should be the same number as if you summed the number of

[2022-09-23 15:31] guilload commented on #2004
I'm able to reproduce source actor timeout. When I set `yield_after_each_message` to `true`, this behavior seems to disappear.

[2022-09-23 21:12] fmassot commented on #2002
All endpoints are not idempotent, we need to work on that too.

[2022-09-23 23:35] guidao commented on #2005
https://github.com/quickwit-oss/quickwit/pull/1991
This pr looks like it fixes the problem.

My bad, it should be fixed not removed.

[2022-09-24 02:41] yangjinming1062 opened #2011 "The specified column query is invalid"
**Describe the bug**
![image](https://user-images.githubusercontent.com/30614179/192076597-5e4c1ad9-752d-4958-8f02-8fc6da030dde.png).
The fuzzy query lists some existing data, and then queries according to the id result but cannot find the content.

**Expected behavior**
How to find specific document.

**Configuration:**
Please provide:

1. quickwit --version: 0.3.1
2. The index_config.yaml
![imag

[2022-09-24 08:42] fulmicoton commented on #2011
I am not sure how to fix this but this is a UI bug.

The first screen is actually the wrong one.
The JSON API is returning a different value, but the browser, as it parses the JSON, uses a 64 bit float point, and cannot represent this number

One easy way to confirm is to run this in a browser console.
[code]

Two workarounds  in the meanwhile:
- Redo you test without using the UI. You can hit the

[2022-09-26 01:49] yangjinming1062 commented on #2011
Thanks, I confim that is a BUG of UI

[2022-09-26 01:49] #2011 closed

[2022-09-26 02:01] fulmicoton commented on #1920
Duplicate of #1793

[2022-09-26 02:01] #1920 closed

[2022-09-26 02:26] fulmicoton commented on #2011
I'll create a separate issue so we can track it.

[2022-09-26 02:37] fulmicoton opened #2013 "U64 as displayed in the UI are wrong."
As spotted in #2011.

U64 field are very nice for users indexing ids.
They can be a nicer solution than strings, for instance if we do grouping and the number of distinct values does not justify dicitonary encoding.

Javascript will deserialize their JSON value as a javascript Number, which has a limited precision.
The number as displayed in the UI will hence be erroneous.

This limitation is not

[2022-09-26 02:38] fulmicoton commented on #2011
@yangjinming1062 thank you for all of the bug reports! It is really helpful for us.

[2022-09-26 10:05] fulmicoton opened #2014 "Plug the new tantivy delete code into quickwit"
See in the title :)

We have a bunch of actors in the quickwit-indexing/src/actors that are running deletes in a silly way today. Adopt the new tantivy code in them.

[2022-09-26 13:25] saroh commented on #2013
Twitter answered both types and settled on returning strings for integers. https://developer.twitter.com/en/docs/twitter-ids

My 2 cents:

If you need to expose an API and not just write an UI, I feel this is best.
Creating data duplication does not seem natural ("I send an `id` field but need to read an `id_str`". You can make the point that: "I send a integer value and get a string back" is not

[2022-09-26 14:16] #1982 closed

[2022-09-26 15:52] #1939 closed

[2022-09-27 02:13] PSeitz commented on #2013
We could use a custom parser in the browser https://github.com/josdejong/lossless-json
Parsing is probably much slower though.

[2022-09-27 02:20] fulmicoton commented on #2013
@PSeitz yeah but other users will suffer right?
@saroh Elastic has u64 and i32 types nowdays right? Do they return string for u64?

[2022-09-27 03:50] PSeitz commented on #2013
Yes, every browser UI would need to have some solution for that or may run into the same issue.

[2022-09-27 05:53] yangshike opened #2019 "Update tutorial following change in Vector. ndjson => json + framing.method := "newline_delimited""
when i used send logs from vector to quickwit , i got error:
2022-09-27T05:47:01.785Z  WARN {actor=quickwit_indexing::actors::indexing_service::IndexingService}:{msg_id=1}::{index=customer3 gen=0}:{actor=quickwit_indexing::actors::doc_processor::DocProcessor}:{msg_id=4}: quickwit_indexing::actors::doc_processor: err=NotJsonObject("[{\"id\":4152728738612")

this is my vector output on console:
{"id

[2022-09-27 06:42] fulmicoton commented on #2019
It seems like a breaking change in vector as described in https://github.com/vectordotdev/vector/blob/7b263c2e4e96127145857e58634bc516c0deac85/website/content/en/highlights/2022-08-16-0-24-0-upgrade-guide.md#sink-encoding-json.

We should update our tutorial accordingly.

The new configuration to get ndjson content is :

[code]

[2022-09-27 06:51] yangshike commented on #2019
i changed my vector  configs:
[sinks.quick]
type = "http"
inputs = ["modify_t_customer"]
encoding.codec = "json"
encoding.framing.method = "newline_delimited"
uri = "http://127.0.0.1:7280/api/v1/customer3/ingest"

But the mistake is still there！
2022-09-27T06:51:25.072Z  WARN {actor=quickwit_indexing::actors::indexing_service::IndexingService}:{msg_id=1}::{index=customer3 gen=0}:{actor=quickwit_in

[2022-09-27 07:05] fulmicoton commented on #2019
I don't think you got the framing method right.
[code]

[2022-09-27 07:23] yangshike commented on #2019
when i changed config like this , its ok!!
[sinks.quick]
type = "http"
inputs = ["modify_t_customer"]
encoding.codec = "json"
framing.method = "newline_delimited"
uri = "http://127.0.0.1:7280/api/v1/customer3/ingest"

framing.method = "newline_delimited"
not encoding.framing.method = "newline_delimited"

[2022-09-27 08:19] fulmicoton commented on #2019
ok cool ! @yangshike

[2022-09-27 08:50] saroh commented on #2013
i64 an i32 yes. They keep the data as is meaning the client may have surprises. The same issue is opened with Kibana https://github.com/elastic/kibana/issues/40183

![image](https://user-images.githubusercontent.com/325288/192477920-f6021602-f290-41fc-8c30-c46115bafb5b.png)

[2022-09-27 09:05] yangshike commented on #2019
Pull a branch to modify and submit? From which branch?

[2022-09-27 10:36] yangshike commented on #2019
Does quwickwit have a unique key? Or does it support index updates?

For example, first insert {"id": 123, "value": "abcde"}

Then insert {"id": 123, "value": "abcde"}

At present, 2 records will be searched

[2022-09-27 13:09] fulmicoton opened #2022 "Fix the split store"
Is the split store broken?

[2022-09-27 13:40] #1468 closed, assigned to boraarslan

[2022-09-27 14:40] #2004 closed

[2022-09-27 19:25] guilload opened #2025 "Simplify DateTime parsing"
For strings (strftime), we do:
`&str` -> `chrono::Datetime` -> `ts (i64)` -> `ts (i128)` -> `time::OffsetDateTime` -> `tantivy::DateTime (i64)`

For integers, we do:
`ts (i64)` -> `ts (i128)` -> `time::OffsetDateTime` -> `tantivy::DateTime (i64)`

Since internally tantivy relies on `i64`, we could go straight to `i64` instead of using the intermediate forms `i128` and `OffsetDateTime`.

[2022-09-28 00:34] fulmicoton commented on #2019
Unfortunately no... Quickwit does not support such updates.

[2022-09-28 00:37] fulmicoton commented on #2019
Yes so you can clone quickwit's repository.
Position yourself on the `main` branch.
Create a branch called `issue/2019-ndjson-vector-tutorial`  for instance
Do the modification locally.
Push to your repository clone.
Open a pull request to our repo.

[2022-09-28 00:37] fulmicoton commented on #2013
@saroh thank you!

[2022-09-28 03:07] yangshike commented on #2019
# 位于分支 issue/2019-ndjson-vector-tutorial

[yangshike@maven tutorials]$ git push origin issue/2019-ndjson-vector-tutorial
ERROR: Permission to quickwit-oss/quickwit.git denied to yangshike.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2022-09-28 03:37] fulmicoton commented on #2019
Yes... You need to fork our repo to your github account, push there, and send a pull request.

Here is a guide:
https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/

[2022-09-28 09:07] yangshike commented on #2019
Do I need to clone the code to my own account?

https://github.com/yangshike/quickwit.git ??

This is my git config：
alias.st=status
alias.co=checkout
alias.ci=commit
alias.br=branch -a
alias.me=merge
alias.lg=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
core.repositoryformatversion=0
core.filemode=true

[2022-09-28 09:39] fulmicoton commented on #2019
Yes. The easiest way is to click the "fork" button on github. at the top right of the screen.
Then you clone the repo to your computer.

Push the change to your copy: https://github.com/yangshike/quickwit.git
And then create the pull request on quickwit-io/quickwit

[2022-09-28 10:32] yangshike commented on #2019
i‘m sorry ,

I have sent it to my own address: https://github.com/yangshike/quickwit

But I didn't find my push when I created a pull request in quickwit io/quickwit

[2022-09-28 12:40] fmassot opened #2031 "Trigger a delete task planner evaluation after creation of delete task"
As noted in #1962, when a user creates a delete task, he has to wait at most 60 seconds before seeing planned delete operations.

On the creation, we could just send an event to the `DeleteTaskPlanner` of the related index so that it will plan delete operations immediately.

[2022-09-28 13:08] fmassot commented on #2019
Is your repo private? I can't view it.

@fulmicoton meant "create a pull request on quickwit-oss/quickwit" no "quickwit-io/quickwit"

[2022-09-28 13:24] guilload commented on #1878
Closed via #1894.

[2022-09-28 13:24] #1878 closed

[2022-09-28 13:25] guilload commented on #1417
Closed via #1918.

[2022-09-28 13:25] #1417 closed

[2022-09-28 18:13] #2007 closed

[2022-09-28 20:29] fmassot opened #2033 "Delete query does not affect immature splits and the merge policy can leave some merge immature forever."
By nature, immature splits should not remain immature. With a given merge policy, they should become mature, one day.
However, we don't know when they will become mature, and under certain assumptions, it may happen in a very long time. For example, if a merge policy has a huge `split_num_docs_target`... And in this case, we will never delete documents.

We can certainly assume that a user should

[2022-09-29 02:20] yangjinming1062 opened #2034 "Indexing service auto restart"
**Is your feature request related to a problem? Please describe.**
Merge service failure caused indexing service to be interrupted.

**Describe the solution you'd like**
I wish the indexing service will auto restart.

**Describe alternatives you've considered**
the `quickwit run` command stop.

**Additional context**
Add any other context or information about the feature request here.
![image](htt

[2022-09-29 03:46] yangshike commented on #2019
I have set: https://github.com/yangshike/quickwit It's public, but I'm

My branches cannot be found when quickwit oss/quickwit creates a pull request

[2022-09-29 07:31] fmassot opened #2035 "Quickwit metrics should all have the prefix "quickwit_""
I'm regularly looking at Quickwit metrics in prometheus interface and I suggest to have the prefix `quickwit_` for all quickwit metrics.

Currently, this is not the case for cache metrics as described in the [docs](https://quickwit.io/docs/main-branch/reference/metrics).

[2022-09-29 07:36] fmassot commented on #2034
Thanks for the report @yangjinming1062. The indexing service should normally restart, in the logs, you can see the `gen=2` which means that the indexing pipeline on the index `traceback` has already restarted 2 times. With a merge publisher error, the pipeline should restart again, and in the logs, you should see after the error a log with `spawn_pipeline` and `gen=3`.

Can you give your quickwit

[2022-09-29 07:46] yangjinming1062 commented on #2034
Thanks, my quickwit version is : 0.3.1

[2022-09-29 07:54] fmassot commented on #2034
Ok. Can you give me the full logs (you attach a logs.txt file to the issue)? I want to be sure that the indexing pipeline has stopped and for which reason it has.

[2022-09-29 08:00] fmassot opened #2036 "Partition id value is a bit confusing when we have an empty partition key"
The case where the partition key is not set in the index config will be very common.

With the current implementation, this will generate docs and splits with `partition_id=5`. This default value is a bit strange. Moreover, it depends on the `max_num_partitions`, so if you change the `max_num_partitions`, the `partition_id` will change.

As a user, I would probably expect that we always set the pa

[2022-09-29 08:39] fulmicoton commented on #2019
The problem is that I think you didn't create the fork using github. Github has no link between quickwit-oss/quickwit and your repo.

[2022-09-29 10:08] yangjinming1062 commented on #2034
OK, the log file size of 10MB, so I make a zip file
[quickwit.zip](https://github.com/quickwit-oss/quickwit/files/9673581/quickwit.zip)

[2022-09-29 11:07] #1940 closed

[2022-09-29 13:12] #2014 closed, assigned to trinity-1686a

[2022-09-29 14:59] #2006 closed

[2022-09-30 03:53] #1793 closed

[2022-09-30 03:58] YANGJINJUE commented on #1997
thanks for your reply ,the tutorials [https://quickwit.io/docs/tutorials/tutorial-hdfs-logs#start-your-server](url) only start searcher,
./quickwit run will start index and searcher，this will solve the problem.

[2022-09-30 04:08] geek-frio opened #2039 "Search Query will not get the field value when index field type is bytes."
**Describe the bug**
Quickwit version: 0.3.1
Query will not get the field value when index field type is bytes.

**Steps to reproduce (if applicable)**
Steps to reproduce the behavior:

1. Config a index that has bytes field.
2. Ingest data in the index
3. search index value like this: quickwit index search --index xxx --query "*"
4. The bytes field value will not returned.

After reviewing the co